
/* 1. Theme default css */
.bwdbpl_blog_bttn .bwdbpl_button {
    display: inline-block;
}
.bwdbpl_blog_box {
    margin-block-end: 30px;
}
.bwdbpl_blogPost_style2 .bwdbpl_blog_box {
    margin-block-end: 60px;
}
.elementor-widget-BlogList ul{
    margin-block: 0px;
    margin-inline: 0px;
    padding-block: 0px;
    padding-inline: 0px;
}
.elementor-widget-BlogList li{
    list-style: none;
}
.elementor-widget-BlogList img{
    max-inline-size: 100%;
}

.bwdbpl_blog_title a{
    text-decoration: none;
    color: inherit;
    outline: none;
    transition: all 0.4s;
    display: inline-block;
}
.bwdbpl_blog_title a:hover{
    color: inherit;
}
.bwdbpl_blog_image a{
    display: block;
}
.bwdbpl_blog_image img{
    inline-size: 100%;
}
.bwdbpl_blog_image {
    position: relative;
}
.bwdbpl_blog_meta {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 8px;
}

/* style1 */
.bwdbpl_blogPost_style1 .bwdbpl_blog_bottom_part{
    padding-block-start: 30px;
    padding-inline: 30px;
    padding-block-end: 45px;
    background: #212529;
    box-shadow: 3px 3px 15px 0 rgb(0 0 0 / 15%);
    position: relative;
}
.bwdbpl_blogPost_style1 .bwdbpl_blog_date,
.bwdbpl_blogPost_style1 .bwdbpl_blog_user,
.bwdbpl_blogPost_style1 .bwdbpl_blog_tag,
.bwdbpl_blogPost_style1 .bwdbpl_blog_comment,
.bwdbpl_blogPost_style1 .bwdbpl_category ul li a {
    color: #c6a47e;
    font-size: 13px;
    line-height: 1;
    text-transform: uppercase;
    position: relative;
    font-weight: 300;
    display: inline-block;
}
.bwdbpl_blogPost_style1 .bwdbpl_title {
    color: #fff;
    line-height: 1;
    font-size: 25px;
    margin-block: 20px;
    margin-inline: 0px;
    display: inline-block;
}
.bwdbpl_blogPost_style1 .bwdbpl_title:hover{
    color: #c6a47e;
}
.bwdbpl_blogPost_style1 .bwdbpl_desce {
    color: #fff;
    font-size: 18px;
    line-height: 1.5;
    font-weight: 300;
}
.bwdbpl_blogPost_style1 .bwdbpl_button {
    color: #fff;
    padding-block: 12px;
    padding-inline: 16px;
    background: #c6a47e;
    display: inline-block;
    line-height: 1;
    text-align: center;
    font-size: 16px;
    position: absolute;
    inset-block-end: 0;
    inset-inline-end: 0;
}

/* style2 */
.bwdbpl_blogPost_style2 .bwdbpl_blog_bottom_part{
    background: #111;
}
.bwdbpl_blogPost_style2 .bwdbpl_button {
    inline-size: 80%;
    margin-block: auto;
    margin-inline: auto;
    block-size: inherit;
    background: #111;
    padding-block: 20px;
    padding-inline: 20px;
    font-size: 22px;
    inset-block-end: -30px;
    inset-inline-start: 0;
    inset-inline-end: 0;
    z-index: 1;
    text-transform: capitalize;
}
.bwdbpl_blogPost_style2 .bwdbpl_button::before{
    content: '';
    position: absolute;
    inset-inline-start: 0;
    inset-block-end: 0;
    inline-size: 100%;
    block-size: 1px;
    background: #ff0000;
    transition: height .4s;
    z-index: -1;
    box-shadow: 0 0 50px #ff0000;
}
.bwdbpl_blogPost_style2 .bwdbpl_button:hover::before{
    block-size: 100%;

}
.bwdbpl_blogPost_style2 .bwdbpl_blog_date::after,
.bwdbpl_blogPost_style2 .bwdbpl_blog_user::after,
.bwdbpl_blogPost_style2 .bwdbpl_blog_tag::after,
.bwdbpl_blogPost_style2 .bwdbpl_blog_comment::after,
.bwdbpl_blogPost_style2 .bwdbpl_category ul li a::after{
    block-size: 1px;
    inline-size: 100%;
    background: #ff0000;
    inset-block-end: -2px;
    inset-block-start: inherit;
}
.bwdbpl_blogPost_style2 .bwdbpl_blog_date,
.bwdbpl_blogPost_style2 .bwdbpl_blog_user,
.bwdbpl_blogPost_style2 .bwdbpl_blog_tag,
.bwdbpl_blogPost_style2 .bwdbpl_blog_comment,
.bwdbpl_blogPost_style2 .bwdbpl_category ul li a {
    padding-inline-start: 0;
    text-decoration: dashed;
    color: #ff0000;
}
.bwdbpl_blogPost_style1 .bwdbpl_title:hover {
    color: #ff0000;
}
/* blog_post_list_style----------------------------------------- */


/* style20 */
.bwdbpl_blogPost_style1.bwdbpl_blogPost_list_20 .bwdbpl_blog_box {
    display: flex;
    position: relative;
}
.bwdbpl_blogPost_style1.bwdbpl_blogPost_list_20 .bwdbpl_blog_bottom_part {
    inline-size: 100%;
}

/* Ferdaus */
.bwdbpl_blogPost_list_20 .bwdbpl_blog_tag a {
    color: #c6a47e;
}
.bwdbpl_blogPost_list_21 .bwdbpl_blog_tag a{
    color: #ff0000;
}
.bwdbpl_blogPost_list_22 .bwdbpl_blog_tag a {
    color: #FF5733;
}
.bwdbpl_blogPost_list_23 .bwdbpl_blog_tag a {
    color: #000;
}
.bwdbpl_blogPost_list_24 .bwdbpl_blog_tag a{
    color: #00324f;
}
.bwdbpl_blogPost_list_25 .bwdbpl_blog_tag a {
    color: #685F78;
}
.bwdbpl_blogPost_list_26 .bwdbpl_blog_tag a {
    color: #fff;
}
.bwdbpl_blogPost_list_28 .bwdbpl_blog_tag a {
    color: #ff5134;
}
/* Ferdaus */

/* style21 */
.bwdbpl_blogPost_list_21 .bwdbpl_blog_box {
    display: flex;
}
.bwdbpl_blogPost_list_21 .bwdbpl_blog_bottom_part {
    inline-size: 100%;
}

/* style22 */
.bwdbpl_blogPost_list_22 .bwdbpl_blog_image {
    display: inline-block;
    min-block-size: inherit;
    padding-block: inherit;
    padding-inline: inherit;
    inline-size: 100%;
}
.bwdbpl_blogPost_list_22 .bwdbpl_blog_box{
    display: flex;
}
.bwdbpl_blogPost_list_22 .bwdbpl_blog_bottom_part {
    inline-size: 100%;
    background: #323232;
    color: #fff;
    padding-block: 30px;
    padding-inline: 30px;
}
.bwdbpl_blogPost_list_22 .bwdbpl_blog_user,
.bwdbpl_blogPost_list_22 .bwdbpl_blog_date,
.bwdbpl_blogPost_list_22 .bwdbpl_blog_tag,
.bwdbpl_blogPost_list_22 .bwdbpl_blog_comment,
.bwdbpl_blogPost_list_22 .bwdbpl_category ul li a{
    display: inline-block;
    font-size: 14px;
}


/* style23 */
.bwdbpl_blogPost_list_23 .bwdbpl_blog_bottom_part {
    inline-size: 100%;
}
.bwdbpl_blogPost_list_23 .bwdbpl_blog_box {
    display: flex;
}


/* style24 */
.bwdbpl_blogPost_list_24 .bwdbpl_blog_box {
    display: flex;
}
.bwdbpl_blogPost_list_24 .bwdbpl_category ul li a{
    margin-block-start: 0;
}
.bwdbpl_blogPost_list_24 .bwdbpl_blog_bottom_part {
    padding-block: 30px;
    padding-inline: 30px;
    background: #fafafa;
    border-radius: 10px;
    inline-size: 100%;
}

/* styel25 */
.bwdbpl_blogPost_list_25 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.bwdbpl_blogPost_list_25 .bwdbpl_overlay_content {
    transform: perspective(400px) scale(0);
}
.bwdbpl_blogPost_list_25 .bwdbpl_blog_box:hover .bwdbpl_overlay_content {
    transform: perspective(400px) scale(1);
}
.bwdbpl_blogPost_list_25 .bwdbpl_blog_box {
    display: flex;
    inline-size: 47%;
    margin-inline-start: 15px;
    margin-inline-end: 15px;
}
.bwdbpl_blogPost_list_25 .bwdbpl_blog_image{
    border-radius: 10px;
}
.bwdbpl_blogPost_list_25 .bwdbpl_blog_bottom_part {
    inline-size: 100%;
}

/* style26 */
.bwdbpl_blogPost_list_26 .bwdbpl_blog_box {
    display: flex;
}
.bwdbpl_blogPost_list_26 .bwdbpl_title {
    margin-block-start: 30px;
}
.bwdbpl_blogPost_list_26 .bwdbpl_blog_bottom_part {
    inline-size: 100%;
}

/* style27 */
.bwdbpl_blogPost_list_27 .bwdbpl_blog_box {
    display: flex;
}
.bwdbpl_blogPost_list_27 .bwdbpl_blog_bottom_part {
    inline-size: 100%;
}
.bwdbpl_blogPost_list_27 .bwdbpl_category li a {
    color: #383838;
}
.bwdbpl_blogPost_list_27 .bwdbpl_blog_bttn i {
    color: #ffffff;
}
.bwdbpl_blogPost_list_27 .bwdbpl_blog_tag a {
    color: #000000;
}
/* style28 */
.bwdbpl_blogPost_list_28 .bwdbpl_blog_box {
    display: flex;
}
.bwdbpl_blogPost_list_28 .bwdbpl_blog_bottom_part {
    padding-block: 30px;
    padding-inline: 30px;
    background: #f4f8fc;
    inline-size: 100%;
}
.bwdbpl_blogPost_list_28 .bwdbpl_title {
    font-size: 30px;
    line-height: 1;
    margin-block-end: 20px;
    color: #28303D;
}

/* style29 */
.bwdbpl_blogPost_list_29 .bwdbpl_category, .bwdbpl_blogPost_list_29 .bwdbpl_the_tags {
    display: inline-block;
}
.bwdbpl_blogPost_list_29 .bwdbpl_blog_box {
    display: flex;
}
.bwdbpl_blogPost_list_29 .bwdbpl_blog_bottom_part {
    inline-size: 100%;
}
.bwdbpl_blogPost_list_29 .bwdbpl_blog_box:hover .bwdbpl_blog_bottom_part {
    border-radius: 0;
}
.bwdbpl_blogPost_list_29 .bwdbpl_blog_box:hover .bwdbpl_desce{
    color: #fff;
}
.bwdbpl_blogPost_list_29 .bwdbpl_title {
    margin-block-end: 20px;
}
.bwdbpl_blogPost_list_29 .bwdbpl_blog_box:hover .bwdbpl_button{
    border: 1px solid white;
}
.bwdbpl_blogPost_list_29 .bwdbpl_blog_tag a{
    color: #98a2b3;
}
.bwdbpl_blogPost_list_29 .bwdbpl_blog_box:hover .bwdbpl_blog_tag a{
    color: #ffffff;
}

/* style30 */
.bwdbpl_blogPost_list_30 .bwdbpl_blog_box {
    display: flex;
}
.bwdbpl_blogPost_list_30 .bwdbpl_blog_bottom_part {
    inline-size: 100%;
}
.bwdbpl_blogPost_list_30 .bwdbpl_the_tags a {
    color: #0e63ff;
}

/* style31 */
.bwdbpl_blogPost_list_31 .bwdbpl_blog_box{
    display: flex;
}
.bwdbpl_blogPost_list_31 .bwdbpl_blog_date {
    inset-block-end: 0;
}
.bwdbpl_blogPost_list_31 .bwdbpl_blog_bottom_part {
    inline-size: 100%;
    padding-block: 30px;
    padding-inline: 30px;
}
.bwdbpl_blogPost_list_31 .bwdbpl_the_tags a {
    color: #f5bc37;
}



/* new style post list */
.bwdbpl_blogPost_list_32 .bwdbpl_blog_bottom_part {
    padding-block: 20px;
    padding-inline: 20px;
    background-color: #00b4d8;
    transition: all .4s ease-in-out;
}
.bwdbpl_blogPost_list_32 .bwdbpl_blog_box:hover .bwdbpl_blog_bottom_part {
    background-color: #fff;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}
.bwdbpl_blogPost_list_32 .bwdbpl_blog_box:hover .bwdbpl_title,
.bwdbpl_blogPost_list_32 .bwdbpl_blog_box:hover .bwdbpl_button,
.bwdbpl_blogPost_list_32 .bwdbpl_blog_box:hover .bwdbpl_desce {
    color: #00b4d8;
    border-color:#00b4d8;
}
.bwdbpl_blogPost_list_32 .bwdbpl_blog_meta {
    margin-block-end: 12px;
}
.bwdbpl_blogPost_list_32 .bwdbpl_title {
    color: #fff;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.3;
    margin-block-end: 12px;
}
.bwdbpl_blogPost_list_32 .bwdbpl_desce{
    color: #fff;
    margin-block-end: 15px;
}
.bwdbpl_blogPost_list_32 .bwdbpl_button {
    color: #fff;
    text-transform: capitalize;
    border: 1px solid #fff;
    line-height: 1;
    padding-block: 9px;
    padding-inline: 15px;
}
.bwdbpl_blogPost_list_32 .bwdbpl_category li a, 
.bwdbpl_blogPost_list_32 .bwdbpl_the_tags a, 
.bwdbpl_blogPost_list_32 .bwdbpl_blog_tag,
.bwdbpl_blogPost_list_32 .bwdbpl_blog_date,
.bwdbpl_blogPost_list_32 .bwdbpl_author-img,
.bwdbpl_blogPost_list_32 .bwdbpl_blog_comment {
    color: #fff;
}
.bwdbpl_blogPost_list_32 .bwdbpl_blog_box:hover .bwdbpl_blog_date,
.bwdbpl_blogPost_list_32 .bwdbpl_blog_box:hover .bwdbpl_author-img,
.bwdbpl_blogPost_list_32 .bwdbpl_blog_box:hover .bwdbpl_blog_comment,
.bwdbpl_blogPost_list_32 .bwdbpl_blog_box:hover .bwdbpl_the_tags a,
.bwdbpl_blogPost_list_32 .bwdbpl_blog_box:hover .bwdbpl_the_tags a,
.bwdbpl_blogPost_list_32 .bwdbpl_blog_box:hover .bwdbpl_category li a, 
.bwdbpl_blogPost_list_32 .bwdbpl_blog_box:hover .bwdbpl_blog_tag {
    color: #00b4d8;
}
/* style33 */
.bwdbpl_blogPost_list_33 .bwdbpl_blog_image::before,
.bwdbpl_blogPost_list_34 .bwdbpl_blog_image::before,
.bwdbpl_blogPost_list_34 .bwdbpl_blog_bottom_part::before,
.bwdbpl_blogPost_list_35 .bwdbpl_blog_image::before,
.bwdbpl_blogPost_list_36 .bwdbpl_blog_image::before,
.bwdbpl_blogPost_list_38 .bwdbpl_blog_image::before,
.bwdbpl_blogPost_list_39 .bwdbpl_blog_image::before,
.bwdbpl_blogPost_list_41 .bwdbpl_blog_image::before {
    content: '';
    position: absolute;
    inset-inline-start: 0;
    inset-block-start: 0;
    inline-size: 100%;
    block-size: 100%;
    background-image: linear-gradient(180deg, #051979 34%, #61CE70 100%);
    opacity: 0.5;
    transition: all .4s ease;
}
.bwdbpl_blogPost_list_33 .bwdbpl_blog_box:hover .bwdbpl_blog_image::before{
    background-image: linear-gradient(180deg, #1338E3 0%, #4054B2 100%);
}
.bwdbpl_blogPost_list_33 .bwdbpl_button {
    color: #fff;
    background-image: linear-gradient(160deg, #051979 34%, #61CE70 100%);
    padding-block: 15px;
    padding-inline: 30px;
    line-height: 1;
    border-radius: 7px;
}
.bwdbpl_blogPost_list_33 .bwdbpl_blog_bottom_part,
.bwdbpl_blogPost_list_34 .bwdbpl_blog_bottom_part {
    background-color: transparent;
    box-shadow: 0 0 10px #0000002e;
}
.bwdbpl_blogPost_list_33 .bwdbpl_category li a, 
.bwdbpl_blogPost_list_33 .bwdbpl_the_tags a, 
.bwdbpl_blogPost_list_33 .bwdbpl_blog_tag,
.bwdbpl_blogPost_list_33 .bwdbpl_blog_date,
.bwdbpl_blogPost_list_33 .bwdbpl_author-img,
.bwdbpl_blogPost_list_33 .bwdbpl_blog_comment,
.bwdbpl_blogPost_list_33 .bwdbpl_title,
.bwdbpl_blogPost_list_33 .bwdbpl_desce {
    color: #1c4776;
}
.bwdbpl_blogPost_list_33 .bwdbpl_blog_box:hover .bwdbpl_blog_bottom_part {
    background-image: linear-gradient(160deg, #051979 34%, #61CE70 100%);
    box-shadow: none;
}
.bwdbpl_blogPost_list_33 .bwdbpl_blog_box:hover .bwdbpl_category li a, 
.bwdbpl_blogPost_list_33 .bwdbpl_blog_box:hover .bwdbpl_the_tags a, 
.bwdbpl_blogPost_list_33 .bwdbpl_blog_box:hover .bwdbpl_blog_tag,
.bwdbpl_blogPost_list_33 .bwdbpl_blog_box:hover .bwdbpl_blog_date,
.bwdbpl_blogPost_list_33 .bwdbpl_blog_box:hover .bwdbpl_author-img,
.bwdbpl_blogPost_list_33 .bwdbpl_blog_box:hover .bwdbpl_blog_comment,
.bwdbpl_blogPost_list_33 .bwdbpl_blog_box:hover .bwdbpl_title,
.bwdbpl_blogPost_list_33 .bwdbpl_blog_box:hover .bwdbpl_button,
.bwdbpl_blogPost_list_33 .bwdbpl_blog_box:hover .bwdbpl_desce,
.bwdbpl_blogPost_list_34 .bwdbpl_blog_box:hover .bwdbpl_category li a, 
.bwdbpl_blogPost_list_34 .bwdbpl_blog_box:hover .bwdbpl_the_tags a, 
.bwdbpl_blogPost_list_34 .bwdbpl_blog_box:hover .bwdbpl_blog_tag,
.bwdbpl_blogPost_list_34 .bwdbpl_blog_box:hover .bwdbpl_blog_date,
.bwdbpl_blogPost_list_34 .bwdbpl_blog_box:hover .bwdbpl_author-img,
.bwdbpl_blogPost_list_34 .bwdbpl_blog_box:hover .bwdbpl_blog_comment,
.bwdbpl_blogPost_list_34 .bwdbpl_blog_box:hover .bwdbpl_title,
.bwdbpl_blogPost_list_34 .bwdbpl_blog_box:hover .bwdbpl_button,
.bwdbpl_blogPost_list_34 .bwdbpl_blog_box:hover .bwdbpl_desce,
.bwdbpl_blogPost_list_37 .bwdbpl_blog_box:hover .bwdbpl_category li a, 
.bwdbpl_blogPost_list_37 .bwdbpl_blog_box:hover .bwdbpl_the_tags a, 
.bwdbpl_blogPost_list_37 .bwdbpl_blog_box:hover .bwdbpl_blog_tag,
.bwdbpl_blogPost_list_37 .bwdbpl_blog_box:hover .bwdbpl_blog_date,
.bwdbpl_blogPost_list_37 .bwdbpl_blog_box:hover .bwdbpl_author-img,
.bwdbpl_blogPost_list_37 .bwdbpl_blog_box:hover .bwdbpl_blog_comment,
.bwdbpl_blogPost_list_37 .bwdbpl_blog_box:hover .bwdbpl_desce,
.bwdbpl_blogPost_list_37 .bwdbpl_blog_box:hover .bwdbpl_title,
.bwdbpl_blogPost_list_37 .bwdbpl_blog_box:hover .bwdbpl_button,
.bwdbpl_blogPost_list_38 .bwdbpl_blog_box:hover .bwdbpl_category li a, 
.bwdbpl_blogPost_list_38 .bwdbpl_blog_box:hover .bwdbpl_the_tags a, 
.bwdbpl_blogPost_list_38 .bwdbpl_blog_box:hover .bwdbpl_blog_tag,
.bwdbpl_blogPost_list_38 .bwdbpl_blog_box:hover .bwdbpl_blog_date,
.bwdbpl_blogPost_list_38 .bwdbpl_blog_box:hover .bwdbpl_author-img,
.bwdbpl_blogPost_list_38 .bwdbpl_blog_box:hover .bwdbpl_blog_comment,
.bwdbpl_blogPost_list_38 .bwdbpl_blog_box:hover .bwdbpl_title,
.bwdbpl_blogPost_list_38 .bwdbpl_blog_box:hover .bwdbpl_button,
.bwdbpl_blogPost_list_38 .bwdbpl_blog_box:hover .bwdbpl_desce,
.bwdbpl_blogPost_list_39 .bwdbpl_blog_box:hover .bwdbpl_category li a, 
.bwdbpl_blogPost_list_39 .bwdbpl_blog_box:hover .bwdbpl_the_tags a, 
.bwdbpl_blogPost_list_39 .bwdbpl_blog_box:hover .bwdbpl_blog_tag,
.bwdbpl_blogPost_list_39 .bwdbpl_blog_box:hover .bwdbpl_blog_date,
.bwdbpl_blogPost_list_39 .bwdbpl_blog_box:hover .bwdbpl_author-img,
.bwdbpl_blogPost_list_39 .bwdbpl_blog_box:hover .bwdbpl_blog_comment,
.bwdbpl_blogPost_list_39 .bwdbpl_blog_box:hover .bwdbpl_title,
.bwdbpl_blogPost_list_39 .bwdbpl_blog_box:hover .bwdbpl_button,
.bwdbpl_blogPost_list_39 .bwdbpl_blog_box:hover .bwdbpl_desce,
.bwdbpl_blogPost_list_40 .bwdbpl_blog_box:hover .bwdbpl_category li a, 
.bwdbpl_blogPost_list_40 .bwdbpl_blog_box:hover .bwdbpl_the_tags a, 
.bwdbpl_blogPost_list_40 .bwdbpl_blog_box:hover .bwdbpl_blog_tag,
.bwdbpl_blogPost_list_40 .bwdbpl_blog_box:hover .bwdbpl_blog_date,
.bwdbpl_blogPost_list_40 .bwdbpl_blog_box:hover .bwdbpl_author-img,
.bwdbpl_blogPost_list_40 .bwdbpl_blog_box:hover .bwdbpl_blog_comment,
.bwdbpl_blogPost_list_41 .bwdbpl_blog_box:hover .bwdbpl_category li a, 
.bwdbpl_blogPost_list_41 .bwdbpl_blog_box:hover .bwdbpl_the_tags a, 
.bwdbpl_blogPost_list_41 .bwdbpl_blog_box:hover .bwdbpl_blog_tag,
.bwdbpl_blogPost_list_41 .bwdbpl_blog_box:hover .bwdbpl_blog_date,
.bwdbpl_blogPost_list_41 .bwdbpl_blog_box:hover .bwdbpl_author-img,
.bwdbpl_blogPost_list_41 .bwdbpl_blog_box:hover .bwdbpl_blog_comment{
    color: #f4f8fc;
}


/* style34 */
.bwdbpl_blogPost_list_33 .bwdbpl_button,
.bwdbpl_blogPost_list_34 .bwdbpl_button,
.bwdbpl_blogPost_list_35 .bwdbpl_button {
    border: 0;
}
/* .bwdbpl_blogPost_list_34 .bwdbpl_blog_box {
    overflow: hidden;
} */
.bwdbpl_blogPost_list_34 .bwdbpl_blog_box:hover .bwdbpl_blog_image::before{
    inset-inline-start: 100%;
    inline-size: 0;
}
.bwdbpl_blogPost_list_34 .bwdbpl_blog_image::before {
    background-image: linear-gradient(to right top,#d16ba5,#8aa7ec,#5ffbf1);
}
.bwdbpl_blogPost_list_34 .bwdbpl_blog_bottom_part {
    position: relative;
    z-index: 1;
    transition: all .6s ease-in-out;
    box-shadow: 0 0 10px #0000002e;
}
.bwdbpl_blogPost_list_34 .bwdbpl_blog_bottom_part::before {
    background-image: inherit;
    inline-size: 0;
    inset-inline-start: -100%;
    z-index: -1;
}
.bwdbpl_blogPost_list_34 .bwdbpl_blog_box:hover .bwdbpl_blog_bottom_part::before {
    background-image: linear-gradient(to right top,#d16ba5,#8aa7ec,#5ffbf1);
    inline-size: 100%;
    inset-inline-start: 0;
}
.bwdbpl_blogPost_list_34 .bwdbpl_category li a, 
.bwdbpl_blogPost_list_34 .bwdbpl_the_tags a, 
.bwdbpl_blogPost_list_34 .bwdbpl_blog_tag,
.bwdbpl_blogPost_list_34 .bwdbpl_blog_date,
.bwdbpl_blogPost_list_34 .bwdbpl_author-img,
.bwdbpl_blogPost_list_34 .bwdbpl_blog_comment,
.bwdbpl_blogPost_list_34 .bwdbpl_title,
.bwdbpl_blogPost_list_34 .bwdbpl_desce {
    color: #8aa7ec;
}
.bwdbpl_blogPost_list_34 .bwdbpl_button {
    color: #fff;
    background-image: linear-gradient(to right top,#d16ba5,#8aa7ec,#5ffbf1);
}

/* style35 */
.bwdbpl_blogPost_list_35 .bwdbpl_blog_image::before {
    background: linear-gradient(to right, #f5af19, #f12711); 
}
.bwdbpl_blogPost_list_35 .bwdbpl_blog_bottom_part {
    background-color: transparent;
    box-shadow: 0 10px 10px 1px rgb(0 0 0 / 7%);
}
.bwdbpl_blogPost_list_35 .bwdbpl_category li a, 
.bwdbpl_blogPost_list_35 .bwdbpl_the_tags a, 
.bwdbpl_blogPost_list_35 .bwdbpl_blog_tag,
.bwdbpl_blogPost_list_35 .bwdbpl_blog_date,
.bwdbpl_blogPost_list_35 .bwdbpl_author-img,
.bwdbpl_blogPost_list_35 .bwdbpl_blog_comment,
.bwdbpl_blogPost_list_35 .bwdbpl_title,
.bwdbpl_blogPost_list_35 .bwdbpl_desce {
    color: #f4a118;
}
.bwdbpl_blogPost_list_35 .bwdbpl_button {
    background: linear-gradient(to right, #f5af19, #f12711); 
}
.bwdbpl_blogPost_list_35 .bwdbpl-blogextra-img {
    block-size: auto;
    inline-size: 100%;
    overflow: hidden;
}
.bwdbpl_blogPost_list_35 .bwdbpl_blog_image {
    block-size: 100%!important;
    transform: scale(1);
}
.bwdbpl_blogPost_list_35 .bwdbpl_blog_box:hover .bwdbpl_blog_image{
    transform: scale(1.2);
}
.bwdbpl_blogPost_list_35 .bwdbpl_blog_box:hover .bwdbpl_category li a, 
.bwdbpl_blogPost_list_35 .bwdbpl_blog_box:hover .bwdbpl_the_tags a, 
.bwdbpl_blogPost_list_35 .bwdbpl_blog_box:hover .bwdbpl_blog_tag,
.bwdbpl_blogPost_list_35 .bwdbpl_blog_box:hover .bwdbpl_blog_date,
.bwdbpl_blogPost_list_35 .bwdbpl_blog_box:hover .bwdbpl_author-img,
.bwdbpl_blogPost_list_35 .bwdbpl_blog_box:hover .bwdbpl_blog_comment,
.bwdbpl_blogPost_list_35 .bwdbpl_blog_box:hover .bwdbpl_title,
.bwdbpl_blogPost_list_35 .bwdbpl_blog_box:hover .bwdbpl_desce,
.bwdbpl_blogPost_list_35 .bwdbpl_blog_box:hover .bwdbpl_title,
.bwdbpl_blogPost_list_35 .bwdbpl_blog_box:hover .bwdbpl_button,
.bwdbpl_blogPost_list_35 .bwdbpl_blog_box:hover .bwdbpl_desce {
    color: #f5af19;
}


/* style36 */
.bwdbpl_blogPost_list_36 .bwdbpl_blog_bottom_part {
    background-color: transparent;
    position: relative;
    transition: all 1s ease;
}
.bwdbpl_blogPost_list_36 .bwdbpl_button,
.bwdbpl_blogPost_list_38 .bwdbpl_button,
.bwdbpl_blogPost_list_37 .bwdbpl_button {
    display: inline-block;
}
.bwdbpl_blogPost_list_36 .bwdbpl_blog_image::before {
background: linear-gradient(to right, #FF6B6B, #556270);
}
.bwdbpl_blogPost_list_36 .bwdbpl_blog_tag, .bwdbpl_blogPost_list_37 .bwdbpl_blog_tag, .bwdbpl_blogPost_list_38 .bwdbpl_blog_tag {
    display: inline-flex;
}

/* style37 */
.bwdbpl_blogPost_list_37 .bwdbpl_blog_box:hover .bwdbpl_blog_bottom_part {
    background-color: transparent;
}
.bwdbpl_blogPost_list_37 .bwdbpl_blog_bottom_part {
    position: relative;
}
.bwdbpl_blogPost_list_37 .bwdbpl_blog_image::before,
.bwdbpl_blogPost_list_40 .bwdbpl_blog_bottom_part::before {
    content: '';
    position: absolute;
    inset-block-start: 0;
    inset-inline-start: 0;
    inline-size: 100%;
    block-size: 100%;
    background-color: #00b4d8;
    opacity: .3;
    z-index: -1;
}
.bwdbpl_blogPost_list_37 .bwdbpl_blog_box:hover .bwdbpl_title,
.bwdbpl_blogPost_list_37 .bwdbpl_blog_box:hover .bwdbpl_button,
.bwdbpl_blogPost_list_37 .bwdbpl_blog_box:hover .bwdbpl_desce {
    color: #fff;
}

/* style38 */
.bwdbpl_blogPost_list_38 .bwdbpl_blog_bottom_part {
    background-color: transparent;
    position: relative;
}
.bwdbpl_blogPost_list_38 .bwdbpl_blog_box:hover .bwdbpl_blog_bottom_part {
    background-color: transparent;
}
.bwdbpl_blogPost_list_38 .bwdbpl_blog_image::before{
    background-image: linear-gradient(360deg, #000000 56%, #08E026 90%);
}
.bwdbpl_blogPost_list_38 .bwdbpl_blog_box:hover .bwdbpl_blog_image::before{
    background-image: linear-gradient(180deg, #61CE70 0%, #f2295b 100%);
}
.bwdbpl_blogPost_list_38 .bwdbpl_blog_box:hover .bwdbpl_title,
.bwdbpl_blogPost_list_38 .bwdbpl_blog_box:hover .bwdbpl_button,
.bwdbpl_blogPost_list_38 .bwdbpl_blog_box:hover .bwdbpl_desce,
.bwdbpl_blogPost_list_39 .bwdbpl_blog_box:hover .bwdbpl_title,
.bwdbpl_blogPost_list_39 .bwdbpl_blog_box:hover .bwdbpl_button,
.bwdbpl_blogPost_list_39 .bwdbpl_blog_box:hover .bwdbpl_desce,
.bwdbpl_blogPost_list_40 .bwdbpl_blog_box:hover .bwdbpl_title,
.bwdbpl_blogPost_list_40 .bwdbpl_blog_box:hover .bwdbpl_button,
.bwdbpl_blogPost_list_40 .bwdbpl_blog_box:hover .bwdbpl_desce {
    color: #e7efff;
    border-color: #e7efff;
}

/* style39 */
.bwdbpl_blogPost_list_39 .bwdbpl_blog_box:hover .bwdbpl_blog_image {
    background-position: center right;
}
.bwdbpl_blogPost_list_39 .bwdbpl_blog_image::before {
    background: linear-gradient(to right, #00416a, #799f0c, #ffe000); 
}
.bwdbpl_blogPost_list_39 .bwdbpl_blog_bottom_part {
    background-color: transparent;
    background: linear-gradient(to right, #00416a, #799f0c, #ffe000); 
}

/* style40 */
.bwdbpl_blogPost_list_40 .bwdbpl_blog_bottom_part {
    padding-block: 0px;
    padding-inline: 0px;
    background-color: transparent;
    position: relative;
    padding-inline-start: 20px;
}
.bwdbpl_blogPost_list_40 .bwdbpl_blog_bottom_part::before {
    opacity: 1;
    z-index: 1;
    inline-size: 2px;
    background-color: #E62A3F;
}
.bwdbpl_blogPost_list_40 .bwdbpl_blog_box:hover .bwdbpl_blog_bottom_part::before {
    background-color: #fff;
}
.bwdbpl_blogPost_list_40 .bwdbpl_blog_box:hover .bwdbpl_blog_bottom_part {
    background-color: transparent;
    box-shadow: none;
}
.bwdbpl_blogPost_list_40 .bwdbpl_blog_box {
    background-color: #fff;
    padding-block: 30px;
    padding-inline: 30px;
    border: 1px solid #EDEDED;
    transition: all 0.4s cubic-bezier(0.34, 0.01, 0.58, 1);
}
.bwdbpl_blogPost_list_40 .bwdbpl_blog_box:hover {
    background-color: #E62A3F;
}
.bwdbpl_blogPost_list_32.bwdbpl_blogPost_list_40 .bwdbpl_blog_image {
    margin-inline-end: 15px;
}
.bwdbpl_blogPost_list_40 .bwdbpl_title {
    color: #2B2D42;
}
.bwdbpl_blogPost_list_40 .bwdbpl_desce {
    color: #323232;
}
.bwdbpl_blogPost_list_40 .bwdbpl_button {
    color: #2B2D42;
    border-color: #E62A3F;
}
.bwdbpl_blogPost_list_40 .bwdbpl_category li a, 
.bwdbpl_blogPost_list_40 .bwdbpl_the_tags a, 
.bwdbpl_blogPost_list_40 .bwdbpl_blog_tag,
.bwdbpl_blogPost_list_40 .bwdbpl_blog_date,
.bwdbpl_blogPost_list_40 .bwdbpl_author-img,
.bwdbpl_blogPost_list_40 .bwdbpl_blog_comment {
    color: #E62A3F;
}

/* style41 */
.bwdbpl_blogPost_list_41 .bwdbpl_blog_box {
    border: 1px dashed #314755 ;
}
.bwdbpl_blogPost_list_41 .bwdbpl_blog_box:hover .bwdbpl_blog_bottom_part {
    background-color: transparent;
    background-image: linear-gradient(to right, #314755, #26a0da);
}
.bwdbpl_blogPost_list_41 .bwdbpl_blog_bottom_part {
    background-color: transparent;
}
.bwdbpl_blogPost_list_41 .bwdbpl_blog_image::before {
    background-image: linear-gradient(to right, #314755, #26a0da);
}
.bwdbpl_blogPost_list_41 .bwdbpl_blog_box:hover .bwdbpl_title,
.bwdbpl_blogPost_list_41 .bwdbpl_blog_box:hover .bwdbpl_button,
.bwdbpl_blogPost_list_41 .bwdbpl_blog_box:hover .bwdbpl_desce {
    color: #fff;
    border-color: #fff;
}
.bwdbpl_blogPost_list_41 .bwdbpl_category li, 
.bwdbpl_blogPost_list_41 .bwdbpl_the_tags a, 
.bwdbpl_blogPost_list_41 .bwdbpl_blog_tag,
.bwdbpl_blogPost_list_41 .bwdbpl_blog_date,
.bwdbpl_blogPost_list_41 .bwdbpl_author-img,
.bwdbpl_blogPost_list_41 .bwdbpl_blog_comment,
.bwdbpl_blogPost_list_41 .bwdbpl_title,
.bwdbpl_blogPost_list_41 .bwdbpl_button,
.bwdbpl_blogPost_list_41 .bwdbpl_desce {
    background-image: linear-gradient(to right, #314755, #26a0da);
    border-radius: 8px;
    padding-block: 10px;
    padding-inline: 10px;
}
.bwdbpl_blogPost_list_41 .bwdbpl_desce,
.bwdbpl_blogPost_list_41 .bwdbpl_title {
    display: inline-block;
}

.bwdbpl_blogPost_list_20 .bwdbpl_blog_image,
.bwdbpl_blogPost_list_21 .bwdbpl_blog_image,
.bwdbpl_blogPost_list_23 .bwdbpl_blog_image,
.bwdbpl_blogPost_list_24 .bwdbpl_blog_image,
.bwdbpl_blogPost_list_25 .bwdbpl_blog_image,
.bwdbpl_blogPost_list_26 .bwdbpl_blog_image,
.bwdbpl_blogPost_list_27 .bwdbpl_blog_image,
.bwdbpl_blogPost_list_28 .bwdbpl_blog_image,
.bwdbpl_blogPost_list_29 .bwdbpl_blog_image,
.bwdbpl_blogPost_list_30 .bwdbpl_blog_image,
.bwdbpl_blogPost_list_32 .bwdbpl_blog_image,
.bwdbpl_blogPost_list_31 .bwdbpl_blog_image {
    block-size: auto;
    inline-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all .4s ease-in-out;
    position: relative;
    z-index: 1;
}
.bwdbpl_blogPost_list_32 .bwdbpl_blog_box {
    display: flex;
}
.bwdbpl_blog_bottom_part {
    inline-size: 100%;
}
.bwdbpl_button{
    transition: all .4s ease-in-out;
}
.blog_img-link {
    inline-size: 100%;
    block-size: 100%;
    position: absolute;
    z-index: 9;
}
/* End Default Style */

/* pagination */

.bwdbpl_pagination_item span,
.bwdbpl_pagination_item a{
    inline-size: 60px;
    block-size: 40px;
    line-height: 40px;
    margin-inline-end: 10px;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    color: #082a78;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 70px 0px rgba(0, 0, 0, 0.1);
    border: 1px solid rgb(223, 223, 223);
    border-radius: 5px;
    display: inline-block;
}
.bwdbpl_pagination_item a:hover {
    color: #082a78;
    background-color: #2dfc8f;
    border: 1px solid #2dfc8f;
    transform: scale(.85);
}
.bwdbpl_pagination_item span{
    background-color: #2dfc8f;
    color: #082a78;
}
/* pagination end */

.bwdbpl_author img, .bwdbpl_author-img img{
    border-radius: 50% !important;
}
.bwdbpl_blogPost_12 .bwdbpl_author-img img{
    block-size: 10% !important;
    inline-size: 10% !important;
}
.bwdbpl_category ul li a {
   text-transform: capitalize;
}
.bwdbpl_blogPost_style3 .bwdbpl_author-img img,  .bwdbpl_blogPost_16 .bwdbpl_author-img img{
    block-size: 25% !important;
    inline-size: 25% !important;
}
.bwdbpl_icons {
    padding-block-start: 0px;
    padding-inline-end: 5px;
    padding-block-end: 0px;
    padding-inline-start: 0px;
}
.bwdbpl_icons_right {
    padding-block-start: 0px;
    padding-inline-end: 0px;
    padding-block-end: 0px;
    padding-inline-start: 10px;
}
.bwdbpl_the_tags {
    display: flex;
}
  .bwdbpl_blogPostsk_2 ul.post-categories a {
    color: #ff0000;
  }

.bwdbpl_blog_box ul.post-categories li {
    margin-inline-end: 6px;
}
.bwdbpl_blog_box ul.post-categories {
    display: flex;
    padding-inline-start: 0px;
}










    /* lg devices */
    @media (min-width: 992px) and (max-width: 1199px){

        .bwdbpl_blogPost_style1 .bwdbpl_blog_bottom_part {
            padding-block-start: 30px;
            padding-inline: 20px;
            padding-block-end: 45px;
        }
        .bwdbpl_blogPost_style4 .bwdbpl_blog_bottom_part,
        .bwdbpl_blogPost_style10 .bwdbpl_blog_bottom_part,
        .bwdbpl_blogPost_style8 .bwdbpl_blog_bottom_part,
        .bwdbpl_blogPost_style11 .bwdbpl_blog_bottom_part,
        .bwdbpl_blogPost_style12 .bwdbpl_blog_box,
        .bwdbpl_blogPost_14 .bwdbpl_blog_bottom_part,
        .bwdbpl_blogPost_19 .bwdbpl_blog_bottom_part {
            padding-block: 25px;
            padding-inline: 20px;
        }
        .bwdbpl_blogPost_style9 .bwdbpl_blog_bottom_part {
            padding-block: 30px;
            padding-inline: 20px;
        }
        .bwdbpl_blogPost_17 .bwdbpl_blog_bottom_part {
            padding-block-start: 75px;
            padding-inline: 20px;
            padding-block-end: 30px;
        }
        .bwdbpl_blogPost_19 .bwdbpl_author_info {
            flex-wrap: wrap;
            flex-direction: row;
        }
        .bwdbpl_blogPost_19 .bwdbpl_author-img {
            margin-block-end: 10px;
        }

    }

    @media (min-width: 768px) and (max-width: 880px) {
        .bwdbpl_blogPost_list_25 .bwdbpl_blog_box {
            inline-size: 48%;
            margin-inline-start: 7px;
            margin-inline-end: 7px;
        }
    }
    @media (min-width: 881px) and (max-width: 1024px) {
        .bwdbpl_blogPost_list_25 .bwdbpl_blog_box {
            inline-size: 48%;
            margin-inline-start: 8px;
            margin-inline-end: 8px;
        }
    }
    @media (min-width: 1025px) and (max-width: 1200px) {
        .bwdbpl_blogPost_list_25 .bwdbpl_blog_box {
            inline-size: 48%;
            margin-inline-start: 9px;
            margin-inline-end: 9px;
        }
    }

    /* xs devices */
    @media (max-width: 767px){

        .bwdbpl_blogPost_style1 .bwdbpl_blog_bottom_part {
            padding-block-start: 30px;
            padding-inline: 20px;
            padding-block-end: 45px;
        }
        .bwdbpl_blogPost_style12 .bwdbpl_blog_box,
        .bwdbpl_blogPost_15 .bwdbpl_blog_box,
        .bwdbpl_blogPost_16 .bwdbpl_blog_box,
        .bwdbpl_blogPost_style4 .bwdbpl_blog_bottom_part,
        .bwdbpl_blogPost_style7 .bwdbpl_blog_bottom_part,
        .bwdbpl_blogPost_style8 .bwdbpl_blog_bottom_part,
        .bwdbpl_blogPost_style9 .bwdbpl_blog_bottom_part,
        .bwdbpl_blogPost_style10 .bwdbpl_blog_bottom_part,
        .bwdbpl_blogPost_style11 .bwdbpl_blog_bottom_part,
        .bwdbpl_blogPost_14 .bwdbpl_blog_bottom_part,
        .bwdbpl_blogPost_19 .bwdbpl_blog_bottom_part,
        .bwdbpl_blogPost_list_24 .bwdbpl_blog_bottom_part {
            padding-block: 25px;
            padding-inline: 15px;
        }
        .bwdbpl_blogPost_style13 .bwdbpl_blog_bottom_part {
            padding-block-start: 65px;
            padding-inline: 15px;
            padding-block-end: 30px;
        }
        .bwdbpl_blogPost_17 .bwdbpl_blog_bottom_part {
            padding-block-start: 75px;
            padding-inline: 15px;
            padding-block-end: 25px;
        }
        .bwdbpl_blogPost_18 .bwdbpl_blog_bottom_part {
            padding-block-start: 25px;
            padding-inline: 15px;
            padding-block-end: 40px;
        }
        .bwdbpl_blogPost_19 .bwdbpl_author_info {
            flex-wrap: wrap;
            flex-direction: row;
        }
        .bwdbpl_blogPost_19 .bwdbpl_author-img {
            margin-block-end: 10px;
        }
        .bwdbpl_blogPost_style3 .bwdbpl_blog_box .bwdbpl_overlay_content{
            display: none;
        }

        .bwdbpl_blogPost_list_40 .bwdbpl_blog_bottom_part::before {
            inline-size: 100%;
            block-size: 2px;
        }


        /* list-style--------------- */

        .bwdbpl_blogPost_1.bwdbpl_blogPost_list_20 .bwdbpl_blog_box,
        .bwdbpl_blogPost_1.bwdbpl_blogPost_list_21 .bwdbpl_blog_box,
        .bwdbpl_blogPost_list_22 .bwdbpl_blog_box,
        .bwdbpl_blogPost_list_23 .bwdbpl_blog_box,
        .bwdbpl_blogPost_list_24 .bwdbpl_blog_box,
        .bwdbpl_blogPost_list_25 .bwdbpl_blog_box,
        .bwdbpl_blogPost_list_26 .bwdbpl_blog_box,
        .bwdbpl_blogPost_list_27 .bwdbpl_blog_box,
        .bwdbpl_blogPost_list_28 .bwdbpl_blog_box,
        .bwdbpl_blogPost_list_29 .bwdbpl_blog_box,
        .bwdbpl_blogPost_list_30 .bwdbpl_blog_box,
        .bwdbpl_blogPost_list_31 .bwdbpl_blog_box,
        .bwdbpl_blogPost_list_32 .bwdbpl_blog_box {
            flex-direction: row;
            flex-wrap: wrap;
        }
        .bwdbpl_blogPost_list_22 .bwdbpl_blog_bottom_part {
            padding-block: 25px;
            padding-inline: 15px;
        }
        .bwdbpl_blogPost_list_31 .bwdbpl_blog_bottom_part {
            padding-block: 25px;
            padding-inline: 15px;
        }
        .bwdbpl_blogPost_list_32.bwdbpl_blogPost_list_40 .bwdbpl_blog_image {
            inline-size: 100%;
            border-radius: 10px;
            margin-inline-end: 0;
            margin-block-end: 20px;
        }
        .bwdbpl_blogPost_list_40 .bwdbpl_blog_box {
            padding-block: 20px;
            padding-inline: 20px;
        }
        .bwdbpl_blogPost_list_20 .bwdbpl_blog_image, .bwdbpl_blogPost_list_21 .bwdbpl_blog_image, .bwdbpl_blogPost_list_22 .bwdbpl_blog_image, .bwdbpl_blogPost_list_23 .bwdbpl_blog_image, .bwdbpl_blogPost_list_24 .bwdbpl_blog_image, .bwdbpl_blogPost_list_25 .bwdbpl_blog_image, .bwdbpl_blogPost_list_26 .bwdbpl_blog_image, .bwdbpl_blogPost_list_27 .bwdbpl_blog_image, .bwdbpl_blogPost_list_28 .bwdbpl_blog_image, .bwdbpl_blogPost_list_29 .bwdbpl_blog_image, .bwdbpl_blogPost_list_30 .bwdbpl_blog_image, .bwdbpl_blogPost_list_31 .bwdbpl_blog_image,
        .bwdbpl_blogPost_list_32 .bwdbpl_blog_image,
        .bwdbpl_blogPost_list_35 .bwdbpl-blogextra-img {
            block-size: 250px;
        }
        .bwdbpl_blogPost_list_36 .bwdbpl_blog_image,
        .bwdbpl_blogPost_list_37 .bwdbpl_blog_image,
        .bwdbpl_blogPost_list_38 .bwdbpl_blog_image {
            block-size: 100%;
        }

        /* update code */
        .bwdbpl_blogPost_list_25 .bwdbpl_blog_box {
            inline-size: 100%;
            margin-inline-start: 0;
            margin-inline-end: 0;
        }
        
    }


