.bwd-container,
.bwd-container-fluid,
.bwd-container-lg,
.bwd-container-md,
.bwd-container-sm,
.bwd-container-xl,
.bwdcontainer-xxl {
    inline-size: 100%;
    padding-inline-end: var(--bwd-gutter-x, 0.75rem);
    padding-inline-start: var(--bwd-gutter-x, 0.75rem);
    margin-inline-end: auto;
    margin-inline-start: auto;
}
@media (min-width: 576px) {
    .bwd-container,
    .bwd-container-sm {
        max-inline-size: 540px;
    }
}
@media (min-width: 768px) {
    .bwd-container,
    .bwd-container-md,
    .bwd-container-sm {
        max-inline-size: 720px;
    }
}
@media (min-width: 992px) {
    .bwd-container,
    .bwd-container-lg,
    .bwd-container-md,
    .bwd-container-sm {
        max-inline-size: 960px;
    }
}
@media (min-width: 1200px) {
    .bwd-container,
    .bwd-container-lg,
    .bwd-container-md,
    .bwd-container-sm,
    .bwd-container-xl {
        max-inline-size: 1140px;
    }
}
@media (min-width: 1400px) {
    .bwd-container,
    .bwd-container-lg,
    .bwd-container-md,
    .bwd-container-sm,
    .bwd-container-xl,
    .bwd-container-xxl {
        max-inline-size: 1320px;
    }
}
.bwd-row {
    --bwd-gutter-x: 1.5rem;
    --bwd-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-block-start: calc(var(--bwd-gutter-y) * -1);
    margin-inline-end: calc(var(--bwd-gutter-x) * -0.5);
    margin-inline-start: calc(var(--bwd-gutter-x) * -0.5);
}
.bwd-row > * {
    flex-shrink: 0;
    inline-size: 100%;
    max-inline-size: 100%;
    padding-inline-end: calc(var(--bwd-gutter-x) * 0.5);
    padding-inline-start: calc(var(--bwd-gutter-x) * 0.5);
    margin-block-start: var(--bwd-gutter-y);
}
.bwd-col {
    flex: 1 0 0%;
}
.bwd-row-cols-auto > * {
    flex: 0 0 auto;
    inline-size: auto;
}
.bwd-row-cols-1 > * {
    flex: 0 0 auto;
    inline-size: 100%;
}
.bwd-row-cols-2 > * {
    flex: 0 0 auto;
    inline-size: 50%;
}
.bwd-row-cols-3 > * {
    flex: 0 0 auto;
    inline-size: 33.3333333333%;
}
.bwd-row-cols-4 > * {
    flex: 0 0 auto;
    inline-size: 25%;
}
.bwd-row-cols-5 > * {
    flex: 0 0 auto;
    inline-size: 20%;
}
.bwd-row-cols-6 > * {
    flex: 0 0 auto;
    inline-size: 16.6666666667%;
}
.bwd-col-auto {
    flex: 0 0 auto;
    inline-size: auto;
}
.bwd-col-1 {
    flex: 0 0 auto;
    inline-size: 8.33333333%;
}
.bwd-col-2 {
    flex: 0 0 auto;
    inline-size: 16.66666667%;
}
.bwd-col-3 {
    flex: 0 0 auto;
    inline-size: 25%;
}
.bwd-col-4 {
    flex: 0 0 auto;
    inline-size: 33.33333333%;
}
.bwd-col-5 {
    flex: 0 0 auto;
    inline-size: 41.66666667%;
}
.bwd-col-6 {
    flex: 0 0 auto;
    inline-size: 50%;
}
.bwd-col-7 {
    flex: 0 0 auto;
    inline-size: 58.33333333%;
}
.bwd-col-8 {
    flex: 0 0 auto;
    inline-size: 66.66666667%;
}
.bwd-col-9 {
    flex: 0 0 auto;
    inline-size: 75%;
}
.bwd-col-10 {
    flex: 0 0 auto;
    inline-size: 83.33333333%;
}
.bwd-col-11 {
    flex: 0 0 auto;
    inline-size: 91.66666667%;
}
.bwd-col-12 {
    flex: 0 0 auto;
    inline-size: 100%;
}
@media (min-width: 576px) {
    .bwd-col-sm {
        flex: 1 0 0%;
    }
    .bwd-row-cols-sm-auto > * {
        flex: 0 0 auto;
        inline-size: auto;
    }
    .bwd-row-cols-sm-1 > * {
        flex: 0 0 auto;
        inline-size: 100%;
    }
    .bwd-row-cols-sm-2 > * {
        flex: 0 0 auto;
        inline-size: 50%;
    }
    .bwd-row-cols-sm-3 > * {
        flex: 0 0 auto;
        inline-size: 33.3333333333%;
    }
    .bwd-row-cols-sm-4 > * {
        flex: 0 0 auto;
        inline-size: 25%;
    }
    .bwd-row-cols-sm-5 > * {
        flex: 0 0 auto;
        inline-size: 20%;
    }
    .bwd-row-cols-sm-6 > * {
        flex: 0 0 auto;
        inline-size: 16.6666666667%;
    }
    .bwd-col-sm-auto {
        flex: 0 0 auto;
        inline-size: auto;
    }
    .bwd-col-sm-1 {
        flex: 0 0 auto;
        inline-size: 8.33333333%;
    }
    .bwd-col-sm-2 {
        flex: 0 0 auto;
        inline-size: 16.66666667%;
    }
    .bwd-col-sm-3 {
        flex: 0 0 auto;
        inline-size: 25%;
    }
    .bwd-col-sm-4 {
        flex: 0 0 auto;
        inline-size: 33.33333333%;
    }
    .bwd-col-sm-5 {
        flex: 0 0 auto;
        inline-size: 41.66666667%;
    }
    .bwd-col-sm-6 {
        flex: 0 0 auto;
        inline-size: 50%;
    }
    .bwd-col-sm-7 {
        flex: 0 0 auto;
        inline-size: 58.33333333%;
    }
    .bwd-col-sm-8 {
        flex: 0 0 auto;
        inline-size: 66.66666667%;
    }
    .bwd-col-sm-9 {
        flex: 0 0 auto;
        inline-size: 75%;
    }
    .bwd-col-sm-10 {
        flex: 0 0 auto;
        inline-size: 83.33333333%;
    }
    .bwd-col-sm-11 {
        flex: 0 0 auto;
        inline-size: 91.66666667%;
    }
    .bwd-col-sm-12 {
        flex: 0 0 auto;
        inline-size: 100%;
    }
}
@media (min-width: 768px) {
    .bwd-col-md {
        flex: 1 0 0%;
    }
    .bwd-row-cols-md-auto > * {
        flex: 0 0 auto;
        inline-size: auto;
    }
    .bwd-row-cols-md-1 > * {
        flex: 0 0 auto;
        inline-size: 100%;
    }
    .bwd-row-cols-md-2 > * {
        flex: 0 0 auto;
        inline-size: 50%;
    }
    .bwd-row-cols-md-3 > * {
        flex: 0 0 auto;
        inline-size: 33.3333333333%;
    }
    .bwd-row-cols-md-4 > * {
        flex: 0 0 auto;
        inline-size: 25%;
    }
    .bwd-row-cols-md-5 > * {
        flex: 0 0 auto;
        inline-size: 20%;
    }
    .bwd-row-cols-md-6 > * {
        flex: 0 0 auto;
        inline-size: 16.6666666667%;
    }
    .bwd-col-md-auto {
        flex: 0 0 auto;
        inline-size: auto;
    }
    .bwd-col-md-1 {
        flex: 0 0 auto;
        inline-size: 8.33333333%;
    }
    .bwd-col-md-2 {
        flex: 0 0 auto;
        inline-size: 16.66666667%;
    }
    .bwd-col-md-3 {
        flex: 0 0 auto;
        inline-size: 25%;
    }
    .bwd-col-md-4 {
        flex: 0 0 auto;
        inline-size: 33.33333333%;
    }
    .bwd-col-md-5 {
        flex: 0 0 auto;
        inline-size: 41.66666667%;
    }
    .bwd-col-md-6 {
        flex: 0 0 auto;
        inline-size: 50%;
    }
    .bwd-col-md-7 {
        flex: 0 0 auto;
        inline-size: 58.33333333%;
    }
    .bwd-col-md-8 {
        flex: 0 0 auto;
        inline-size: 66.66666667%;
    }
    .bwd-col-md-9 {
        flex: 0 0 auto;
        inline-size: 75%;
    }
    .bwd-col-md-10 {
        flex: 0 0 auto;
        inline-size: 83.33333333%;
    }
    .bwd-col-md-11 {
        flex: 0 0 auto;
        inline-size: 91.66666667%;
    }
    .bwd-col-md-12 {
        flex: 0 0 auto;
        inline-size: 100%;
    }
}
@media (min-width: 992px) {
    .bwd-col-lg {
        flex: 1 0 0%;
    }
    .bwd-row-cols-lg-auto > * {
        flex: 0 0 auto;
        inline-size: auto;
    }
    .bwd-row-cols-lg-1 > * {
        flex: 0 0 auto;
        inline-size: 100%;
    }
    .bwd-row-cols-lg-2 > * {
        flex: 0 0 auto;
        inline-size: 50%;
    }
    .bwd-row-cols-lg-3 > * {
        flex: 0 0 auto;
        inline-size: 33.3333333333%;
    }
    .bwd-row-cols-lg-4 > * {
        flex: 0 0 auto;
        inline-size: 25%;
    }
    .bwd-row-cols-lg-5 > * {
        flex: 0 0 auto;
        inline-size: 20%;
    }
    .bwd-row-cols-lg-6 > * {
        flex: 0 0 auto;
        inline-size: 16.6666666667%;
    }
    .bwd-col-lg-auto {
        flex: 0 0 auto;
        inline-size: auto;
    }
    .bwd-col-lg-1 {
        flex: 0 0 auto;
        inline-size: 8.33333333%;
    }
    .bwd-col-lg-2 {
        flex: 0 0 auto;
        inline-size: 16.66666667%;
    }
    .bwd-col-lg-3 {
        flex: 0 0 auto;
        inline-size: 25%;
    }
    .bwd-col-lg-4 {
        flex: 0 0 auto;
        inline-size: 33.33333333%;
    }
    .bwd-col-lg-5 {
        flex: 0 0 auto;
        inline-size: 41.66666667%;
    }
    .bwd-col-lg-6 {
        flex: 0 0 auto;
        inline-size: 50%;
    }
    .bwd-col-lg-7 {
        flex: 0 0 auto;
        inline-size: 58.33333333%;
    }
    .bwd-col-lg-8 {
        flex: 0 0 auto;
        inline-size: 66.66666667%;
    }
    .bwd-col-lg-9 {
        flex: 0 0 auto;
        inline-size: 75%;
    }
    .bwd-col-lg-10 {
        flex: 0 0 auto;
        inline-size: 83.33333333%;
    }
    .bwd-col-lg-11 {
        flex: 0 0 auto;
        inline-size: 91.66666667%;
    }
    .bwd-col-lg-12 {
        flex: 0 0 auto;
        inline-size: 100%;
    }
}
@media (min-width: 1200px) {
    .bwd-col-xl {
        flex: 1 0 0%;
    }
    .bwd-row-cols-xl-auto > * {
        flex: 0 0 auto;
        inline-size: auto;
    }
    .bwd-row-cols-xl-1 > * {
        flex: 0 0 auto;
        inline-size: 100%;
    }
    .bwd-row-cols-xl-2 > * {
        flex: 0 0 auto;
        inline-size: 50%;
    }
    .bwd-row-cols-xl-3 > * {
        flex: 0 0 auto;
        inline-size: 33.3333333333%;
    }
    .bwd-row-cols-xl-4 > * {
        flex: 0 0 auto;
        inline-size: 25%;
    }
    .bwd-row-cols-xl-5 > * {
        flex: 0 0 auto;
        inline-size: 20%;
    }
    .bwd-row-cols-xl-6 > * {
        flex: 0 0 auto;
        inline-size: 16.6666666667%;
    }
    .bwd-col-xl-auto {
        flex: 0 0 auto;
        inline-size: auto;
    }
    .bwd-col-xl-1 {
        flex: 0 0 auto;
        inline-size: 8.33333333%;
    }
    .bwd-col-xl-2 {
        flex: 0 0 auto;
        inline-size: 16.66666667%;
    }
    .bwd-col-xl-3 {
        flex: 0 0 auto;
        inline-size: 25%;
    }
    .bwd-col-xl-4 {
        flex: 0 0 auto;
        inline-size: 33.33333333%;
    }
    .bwd-col-xl-5 {
        flex: 0 0 auto;
        inline-size: 41.66666667%;
    }
    .bwd-col-xl-6 {
        flex: 0 0 auto;
        inline-size: 50%;
    }
    .bwd-col-xl-7 {
        flex: 0 0 auto;
        inline-size: 58.33333333%;
    }
    .bwd-col-xl-8 {
        flex: 0 0 auto;
        inline-size: 66.66666667%;
    }
    .bwd-col-xl-9 {
        flex: 0 0 auto;
        inline-size: 75%;
    }
    .bwd-col-xl-10 {
        flex: 0 0 auto;
        inline-size: 83.33333333%;
    }
    .bwd-col-xl-11 {
        flex: 0 0 auto;
        inline-size: 91.66666667%;
    }
    .bwd-col-xl-12 {
        flex: 0 0 auto;
        inline-size: 100%;
    }
}
@media (min-width: 1400px) {
    .bwd-col-xxl {
        flex: 1 0 0%;
    }
    .bwd-row-cols-xxl-auto > * {
        flex: 0 0 auto;
        inline-size: auto;
    }
    .bwd-row-cols-xxl-1 > * {
        flex: 0 0 auto;
        inline-size: 100%;
    }
    .bwd-row-cols-xxl-2 > * {
        flex: 0 0 auto;
        inline-size: 50%;
    }
    .bwd-row-cols-xxl-3 > * {
        flex: 0 0 auto;
        inline-size: 33.3333333333%;
    }
    .bwd-row-cols-xxl-4 > * {
        flex: 0 0 auto;
        inline-size: 25%;
    }
    .bwd-row-cols-xxl-5 > * {
        flex: 0 0 auto;
        inline-size: 20%;
    }
    .bwd-row-cols-xxl-6 > * {
        flex: 0 0 auto;
        inline-size: 16.6666666667%;
    }
    .bwd-col-xxl-auto {
        flex: 0 0 auto;
        inline-size: auto;
    }
    .bwd-col-xxl-1 {
        flex: 0 0 auto;
        inline-size: 8.33333333%;
    }
    .bwd-col-xxl-2 {
        flex: 0 0 auto;
        inline-size: 16.66666667%;
    }
    .bwd-col-xxl-3 {
        flex: 0 0 auto;
        inline-size: 25%;
    }
    .bwd-col-xxl-4 {
        flex: 0 0 auto;
        inline-size: 33.33333333%;
    }
    .bwd-col-xxl-5 {
        flex: 0 0 auto;
        inline-size: 41.66666667%;
    }
    .bwd-col-xxl-6 {
        flex: 0 0 auto;
        inline-size: 50%;
    }
    .bwd-col-xxl-7 {
        flex: 0 0 auto;
        inline-size: 58.33333333%;
    }
    .bwd-col-xxl-8 {
        flex: 0 0 auto;
        inline-size: 66.66666667%;
    }
    .bwd-col-xxl-9 {
        flex: 0 0 auto;
        inline-size: 75%;
    }
    .bwd-col-xxl-10 {
        flex: 0 0 auto;
        inline-size: 83.33333333%;
    }
    .bwd-col-xxl-11 {
        flex: 0 0 auto;
        inline-size: 91.66666667%;
    }
    .bwd-col-xxl-12 {
        flex: 0 0 auto;
        inline-size: 100%;
    }
}
