
/* owl-carousel-css start*/
.owlActive {
    display: block!important;
  }
  .wppgpc-item {
      display: flex;
      height: 100%;
  }
  .wppgpc-card {
    flex: 1;
  }
  .wppgpc-card .wppgpc-contentbx .wppgpc-card-heading .wppgpc-product-title {
    font-size: 20px;
    margin: 0;
    margin-bottom: 10px;
  }
  .wppgpc-card .wppgpc-contentbx .wppgpc-price-box {
      display: flex;
      align-items: center;
      gap: 5px;
  }
   .wppgpc-card .wppgpc-sale-featured-badge {
      position: absolute;
      top: 10px;
      display: flex;
      width: 100%;
      padding: 0 10px;
      flex-direction: column;
      gap: 10px;
  }
  .wppgpc-card .wppgpc-contentbx .wppgpc-star-rating span {
      font-size: 13px;
  }
   .wppgpc-card .wppgpc-contentbx .wppgpc-button-box .wppgpc-card-button a {
    line-height: 1;
    font-size: 15px;
  }
  .wppgpc-card .wppgpc-contentbx {
    padding: 20px;
  }
  .wppgpc-card .wppgpc-contentbx .wppgpc-card-heading a,
  .wppgpc-card .wppgpc-contentbx .wppgpc-button-box .wppgpc-card-button a{
    text-decoration: none;
  }
  .wppgpc-card .wppgpc-contentbx .wppgpc-price-rating{
    margin-top: 10px;
  }
  .wppgpc-card .wppgpc-contentbx .wppgpc-button-box .wppgpc-addtocard-btn {
    display: none;
  }
  .wppgpc-sale-featured-badge.wppgpc-featured-sale-order {
      flex-direction: column-reverse;
  }
  /* arrow-style */
  .wppgpc-slider-common .wppgpc-owl-carousel .wppgpc-owl-nav button.wppgpc-owl-prev,
  .wppgpc-slider-common .wppgpc-owl-carousel .wppgpc-owl-nav button.wppgpc-owl-next {
    position: absolute;
    top: 50%;
    display: inline-block;
    z-index: 1;
    cursor: pointer;
    color: #2c5364;
    font-size: 16px;
    height: 40px;
    width: 40px;
    line-height: 1;
    margin: 0;
    background: #fbfbfb;
    box-shadow: 1px 2px 15px 2px rgba(0,0,0,.14);
    border-radius: 4px;
    transform: translate(0, -50%);
    transition: all .4s ease;
  }
  .wppgpc-slider-common .wppgpc-owl-carousel .wppgpc-owl-nav button.wppgpc-owl-prev:hover,
  .wppgpc-slider-common .wppgpc-owl-carousel .wppgpc-owl-nav button.wppgpc-owl-next:hover {
    background: #f64f59;
    box-shadow: 1px 2px 15px 2px #f64f5aa7;
    color: #fff;
  }
  .wppgpc-slider-common .wppgpc-owl-carousel .wppgpc-owl-nav button.wppgpc-owl-prev {
    left: -15px;
  }
  .wppgpc-slider-common .wppgpc-owl-carousel .wppgpc-owl-nav button.wppgpc-owl-next {
    left: auto;
    right: -15px;
  }
  
  /* dots-style */
  .wppgpc-slider-common .wppgpc-owl-carousel .wppgpc-owl-dots {
    position: absolute;
    width: 100%;
  }
  .wppgpc-slider-common .wppgpc-owl-carousel .wppgpc-owl-dots .wppgpc-owl-dot span{
    background: transparent;
    color: #fff;
    font-size: 15px;
    line-height: 1;
    width: initial;
    height: initial;
    margin: initial;
    display: block;
    transition: none;
    border-radius: initial;
    transition: all .4s ease;
  }
  .wppgpc-slider-common .wppgpc-owl-carousel .wppgpc-owl-dots .wppgpc-owl-dot:hover span,
  .wppgpc-slider-common .wppgpc-owl-carousel .wppgpc-owl-dots .wppgpc-owl-dot.active span {
    background: transparent!important;
  }
  .wppgpc-slider-common .wppgpc-owl-carousel .wppgpc-owl-dots .wppgpc-owl-dot {
    text-decoration: none;
    display: inline-block;
    zoom: 1;
    width: 25px;
    height: 25px;
    color: #fff;
    background: #2c5364;
    border-radius: 50%;
    transition: all .4s ease;
  }
  .wppgpc-slider-common .wppgpc-owl-carousel .wppgpc-owl-dots .wppgpc-owl-dot:not(:last-child) {
    margin-inline-end: 10px;
  }
  .wppgpc-slider-common .wppgpc-owl-carousel .wppgpc-owl-dots .wppgpc-owl-dot.active {
    background: #f64f59;
  }
  
  /* style1 */
  .wppgpc_dots1.wppgpc-slider-common .wppgpc-owl-carousel .wppgpc-owl-dots .wppgpc-owl-dot {
    width: 5px;
    height: 5px;
  }
  .wppgpc_dots1.wppgpc-slider-common .wppgpc-owl-carousel .wppgpc-owl-dots .wppgpc-owl-dot.active {
    width: 12px;
    height: 12px;
  }
  
  /* style2 */
  .wppgpc_dots2.wppgpc-slider-common .wppgpc-owl-carousel .wppgpc-owl-dots .wppgpc-owl-dot {
    width: 15px;
    height: 3px;
    border-radius: 0;
  }
  .wppgpc_dots2.wppgpc-slider-common .wppgpc-owl-carousel .wppgpc-owl-dots .wppgpc-owl-dot.active {
    width: 30px;
  }
  
  /* style3 */
  .wppgpc_dots3.wppgpc-slider-common .wppgpc-owl-carousel .wppgpc-owl-dots .wppgpc-owl-dot {
    width: 28px;
    height: 6px;
    border-radius: 0;
    border: 2px solid #2c5364;
    background: transparent;
  }
  .wppgpc_dots3.wppgpc-slider-common .wppgpc-owl-carousel .wppgpc-owl-dots .wppgpc-owl-dot.active {
    border: 2px dashed #2c5364;
  }
  
  /* style4 */
  .wppgpc_dots4.wppgpc-slider-common .wppgpc-owl-carousel .wppgpc-owl-dots .wppgpc-owl-dot {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #f74a00;
    background: transparent;
  }
  .wppgpc_dots4.wppgpc-slider-common .wppgpc-owl-carousel .wppgpc-owl-dots .wppgpc-owl-dot.active {
    background: #2c5364;
  }
  
  /* style5 */
  .wppgpc_dots5.wppgpc-slider-common .wppgpc-owl-carousel .wppgpc-owl-dots .wppgpc-owl-dot {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid transparent;
  }
  .wppgpc_dots5.wppgpc-slider-common .wppgpc-owl-carousel .wppgpc-owl-dots .wppgpc-owl-dot.active {
    border: 2px solid #f74a00;
    background: transparent;
  }
  
  /* style6 */
  .wppgpc_dots6.wppgpc-slider-common .wppgpc-owl-carousel .wppgpc-owl-dots .wppgpc-owl-dot {
    width: 5px;
    height: 20px;
    border-radius: 0;
  }
  .wppgpc_dots6.wppgpc-slider-common .wppgpc-owl-carousel .wppgpc-owl-dots .wppgpc-owl-dot.active {
    transform: scale(.80);
  }
  
  /* style7 */
  .wppgpc_dots7.wppgpc-slider-common .wppgpc-owl-carousel .wppgpc-owl-dots .wppgpc-owl-dot {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #f74a00;
    background: transparent;
  }
  .wppgpc_dots7.wppgpc-slider-common .wppgpc-owl-carousel .wppgpc-owl-dots .wppgpc-owl-dot.active {
    box-shadow: 0 0px 15px #f74a00;
  }
  
  /* style8 */
  .wppgpc_dots8.wppgpc-slider-common .wppgpc-owl-carousel .wppgpc-owl-dots .wppgpc-owl-dot {
    width: 20px;
    height: 20px;
    border-radius: 0;
    background: #f74a00;
    clip-path: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%);
  }
  .wppgpc_dots8.wppgpc-slider-common .wppgpc-owl-carousel .wppgpc-owl-dots .wppgpc-owl-dot.active {
    background: #2c5364;
  }
  
  /* style9 */
  .wppgpc_dots9.wppgpc-slider-common .wppgpc-owl-carousel .wppgpc-owl-dots .wppgpc-owl-dot {
    width: 20px;
    height: 20px;
    border-radius: 0;
    background: #f74a00;
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
  }
  .wppgpc_dots9.wppgpc-slider-common .wppgpc-owl-carousel .wppgpc-owl-dots .wppgpc-owl-dot.active {
    background: #2c5364;
  }
  
  /* style10 */
  .wppgpc_dots10.wppgpc-slider-common .wppgpc-owl-carousel .wppgpc-owl-dots .wppgpc-owl-dot {
    width: 20px;
    height: 20px;
    background: #f74a00;
    border: 6px solid #2c5364;
    border-radius: 50%;
  }
  .wppgpc_dots10.wppgpc-slider-common .wppgpc-owl-carousel .wppgpc-owl-dots .wppgpc-owl-dot.active {
    background: #fff;
  }
  /* owl-carousel-css end*/
  
  .wppgpc-slider-common a {
    text-decoration: none;
  }
  
  .wppgpc-slider-common img {
    max-width: 100%;
    vertical-align: middle;
    margin-left: 0;
  }
  
  .wppgpc-slider-common ul,
  .wppgpc-slider-common ul li {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .wppgpc-slider-common p {
    margin: 0;
    padding: 0;
  }
  
  
  .wppgpc-card-area-style1 .wppgpc-card {
    background: #232323;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }
  
  @media only screen and (min-width: 576px) and (max-width: 767px) {
    .wppgpc-card-area-style1 .wppgpc-card:hover .wppgpc-contentbx {
      bottom: -15%;
    }
  }
  
  .wppgpc-card-area-style1 .wppgpc-card:before {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #D6D57F;
    z-index: 1;
    -webkit-clip-path: circle(150px at 80% 20%);
            clip-path: circle(150px at 80% 20%);
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
  }
  
  .wppgpc-card-area-style1 .wppgpc-card:hover:before {
    -webkit-clip-path: circle(300px at 80% -20%);
            clip-path: circle(300px at 80% -20%);
  }
  .make_a_star {
    margin-inline-end: 5px;
  }
  .wppgpc-card-area-style1 .wppgpc-card:hover .wppgpc-imgbx a img {
    /* -webkit-transform: rotate(-25deg) scale(1.1);
            transform: rotate(-25deg) scale(1.1); */
    -webkit-transform: rotate(-25deg) scale(1.1);
            transform: rotate(-25deg) scale(1.1) translate(-140px);
  }
  
  @media (min-width: 768px) and (max-width: 991px) {
    .wppgpc-card-area-style1 .wppgpc-card:hover .wppgpc-imgbx a img {
      top: -4%;
      -webkit-transform: translateY(-4%);
              transform: translateY(-4%);
    }
  }
  
  .wppgpc-card-area-style1 .wppgpc-card:hover .wppgpc-contentbx .wppgpc-card-heading {
    top: -20%;
    -webkit-transform: translate(-50%, -16%);
            transform: translate(-50%, -16%);
  }
  
  .wppgpc-card-area-style1 .wppgpc-card:hover .wppgpc-contentbx .wppgpc-card-decs {
    opacity: 1;
    visibility: visible;
    -webkit-transition-delay: .4s;
            transition-delay: .4s;
    -webkit-transform: translateY(15px);
            transform: translateY(15px);
  }
  
  .wppgpc-card-area-style1 .wppgpc-card:hover .wppgpc-contentbx .wppgpc-price-rating {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(15px);
            transform: translateY(15px);
    -webkit-transition-delay: .5s;
            transition-delay: .5s;
  }
  
  .wppgpc-card-area-style1 .wppgpc-card:hover .wppgpc-contentbx .wppgpc-category-tag {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-transition-delay: .6s;
            transition-delay: .6s;
  }
  
  .wppgpc-card-area-style1 .wppgpc-card:hover .wppgpc-contentbx .wppgpc-totalsale-pubdate {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-transition-delay: .6s;
            transition-delay: .6s;
  }
  
  .wppgpc-card-area-style1 .wppgpc-card:hover .wppgpc-contentbx .wppgpc-button-box .wppgpc-card-button a {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  
  .wppgpc-card-area-style1 .wppgpc-card:hover .wppgpc-contentbx .wppgpc-button-box .wppgpc-addtocard-btn a {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  
  .wppgpc-card-area-style1 .wppgpc-card .wppgpc-imgbx {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
    z-index: 9;
    top: 0px;
    -webkit-transition: .5s;
    transition: .5s;
    min-height: 280px;
  }
  .wppgpc-card-area-style1 .wppgpc-card .wppgpc-imgbx2 {
    display: none;
  }
  .wppgpc-card-area-style1 .wppgpc-card .wppgpc-imgbx a {
    display: -webkit-box;
    display: -ms-flexbox;
    /* display: flex; */
    display: block;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  
  .wppgpc-card-area-style1 .wppgpc-card .wppgpc-imgbx a img {
    width: 80%!important;
    -webkit-transform: rotate(-25deg) scale(1);
            transform: rotate(-25deg) scale(1) translate(-50%);
    -webkit-transition: .5s;
    transition: .5s;
    /* Down */
    position: absolute;
    left: 45%;
  }
  
  .wppgpc-card-area-style1 .wppgpc-card .wppgpc-contentbx {
    color: #fff;
    position: relative;
    bottom: 0;
    text-align: center;
    width: 100%;
    -webkit-transition: 1s;
    transition: 1s;
    z-index: 9;
    padding: 0 15px 30px 15px;
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  
  .wppgpc-card-area-style1 .wppgpc-card .wppgpc-contentbx .wppgpc-card-heading {
    position: absolute;
    font-weight: 600;
    padding: 15px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    letter-spacing: 1px;
    width: 100%;
    font-size: 30px;
    -webkit-transition: .5s;
    transition: .5s;
    z-index: 9;
  }
  
  @media (min-width: 768px) and (max-width: 991px) {
    .wppgpc-card-area-style1 .wppgpc-card .wppgpc-contentbx .wppgpc-card-heading {
      font-size: 20px;
    }
  }
  
  @media (max-width: 767px) {
    .wppgpc-card-area-style1 .wppgpc-card .wppgpc-contentbx .wppgpc-card-heading {
      font-size: 20px;
    }
  }
  
  .wppgpc-card-area-style1 .wppgpc-card .wppgpc-contentbx .wppgpc-card-heading a {
    color: #fff;
  }
  
  .wppgpc-card-area-style1 .wppgpc-card .wppgpc-contentbx .wppgpc-card-decs {
    font-size: 14px;
    color: #fff;
    -webkit-transform: translateY(300px);
            transform: translateY(300px);
    -webkit-transition: .5s;
    transition: .5s;
    opacity: 0;
  }
  
  @media (min-width: 768px) and (max-width: 991px) {
    .wppgpc-card-area-style1 .wppgpc-card .wppgpc-contentbx .wppgpc-card-decs {
      font-size: 12px;
    }
  }
  
  @media (max-width: 767px) {
    .wppgpc-card-area-style1 .wppgpc-card .wppgpc-contentbx .wppgpc-card-decs {
      font-size: 12px;
    }
  }
  
  .wppgpc-card-area-style1 .wppgpc-card .wppgpc-contentbx .wppgpc-price-rating {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transform: translateY(300px);
            transform: translateY(300px);
    -webkit-transition: .5s;
    transition: .5s;
  }
  
  .wppgpc-card-area-style1 .wppgpc-card .wppgpc-contentbx .wppgpc-price-rating .wppgpc-price-box .wppgpc-old-price {
    display: inline-block;
    font-size: 18px;
    padding: 0 4px 0 0;
    text-decoration: line-through;
    color: #fff;
  }
  
  @media (min-width: 768px) and (max-width: 991px) {
    .wppgpc-card-area-style1 .wppgpc-card .wppgpc-contentbx .wppgpc-price-rating .wppgpc-price-box .wppgpc-old-price {
      font-size: 12px;
    }
  }
  
  @media (max-width: 767px) {
    .wppgpc-card-area-style1 .wppgpc-card .wppgpc-contentbx .wppgpc-price-rating .wppgpc-price-box .wppgpc-old-price {
      font-size: 12px;
    }
  }
  
  .wppgpc-card-area-style1 .wppgpc-card .wppgpc-contentbx .wppgpc-price-rating .wppgpc-price-box .wppgpc-dis-price {
    font-weight: 600;
    display: inline-block;
    font-size: 26px;
    padding: 0 4px;
    color: #fff;
  }
  
  @media (min-width: 768px) and (max-width: 991px) {
    .wppgpc-card-area-style1 .wppgpc-card .wppgpc-contentbx .wppgpc-price-rating .wppgpc-price-box .wppgpc-dis-price {
      font-size: 18px;
    }
  }
  
  @media (max-width: 767px) {
    .wppgpc-card-area-style1 .wppgpc-card .wppgpc-contentbx .wppgpc-price-rating .wppgpc-price-box .wppgpc-dis-price {
      font-size: 18px;
    }
  }
  
  .wppgpc-card-area-style1 .wppgpc-card .wppgpc-contentbx .wppgpc-price-rating .wppgpc-rating-box {
    font-size: 18px;
    color: #fff;
    font-size: 18px;
    padding: 4px 0;
  }
  
  @media (min-width: 768px) and (max-width: 991px) {
    .wppgpc-card-area-style1 .wppgpc-card .wppgpc-contentbx .wppgpc-price-rating .wppgpc-rating-box {
      font-size: 12px;
    }
  }
  
  @media (max-width: 767px) {
    .wppgpc-card-area-style1 .wppgpc-card .wppgpc-contentbx .wppgpc-price-rating .wppgpc-rating-box {
      font-size: 12px;
    }
  }
  
  .wppgpc-card-area-style1 .wppgpc-card .wppgpc-contentbx .wppgpc-category-tag {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 4px 20px;
    -webkit-transform: translateY(300px);
            transform: translateY(300px);
    -webkit-transition: .5s;
    transition: .5s;
  }
  
  .wppgpc-card-area-style1 .wppgpc-card .wppgpc-contentbx .wppgpc-category-tag .wppgpc-pro-cate {
    font-size: 16px;
    color: #fff;
  }
  
  .wppgpc-card-area-style1 .wppgpc-card .wppgpc-contentbx .wppgpc-category-tag .wppgpc-pro-tag {
    font-size: 16px;
    color: #fff;
  }
  
  .wppgpc-card-area-style1 .wppgpc-card .wppgpc-contentbx .wppgpc-totalsale-pubdate {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 4px 0;
    -webkit-transform: translateY(300px);
            transform: translateY(300px);
    -webkit-transition: .5s;
    transition: .5s;
  }
  
  .wppgpc-card-area-style1 .wppgpc-card .wppgpc-contentbx .wppgpc-totalsale-pubdate .wppgpc-total-sale {
    font-size: 16px;
    color: #fff;
  }
  
  .wppgpc-card-area-style1 .wppgpc-card .wppgpc-contentbx .wppgpc-totalsale-pubdate .wppgpc-total-sale span {
    font-size: 18px;
  }
  
  .wppgpc-card-area-style1 .wppgpc-card .wppgpc-contentbx .wppgpc-totalsale-pubdate .wppgpc-pub-date {
    font-size: 16px;
    color: #fff;
  }
  
  .wppgpc-card-area-style1 .wppgpc-card .wppgpc-contentbx .wppgpc-button-box {
    margin-top: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  
  .wppgpc-card-area-style1 .wppgpc-card .wppgpc-contentbx .wppgpc-button-box .wppgpc-card-button {
    margin-right: 5px;
  }
  
  .wppgpc-card-area-style1 .wppgpc-card .wppgpc-contentbx .wppgpc-button-box .wppgpc-card-button a {
    display: inline-block;
    padding: 12px 16px;
    background: #fff;
    border-radius: 4px;
    font-weight: 600;
    color: #111;
    opacity: 0;
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    -webkit-transition: .3s;
    transition: .3s;
  }
  
  @media (min-width: 768px) and (max-width: 991px) {
    .wppgpc-card-area-style1 .wppgpc-card .wppgpc-contentbx .wppgpc-button-box .wppgpc-card-button a {
      font-size: 12px;
      padding: 8px;
    }
  }
  
  @media (max-width: 767px) {
    .wppgpc-card-area-style1 .wppgpc-card .wppgpc-contentbx .wppgpc-button-box .wppgpc-card-button a {
      font-size: 12px;
      padding: 8px;
    }
  }
  
  .wppgpc-card-area-style1 .wppgpc-card .wppgpc-contentbx .wppgpc-button-box .wppgpc-card-button a:hover {
    background: #D6D57F;
    color: #000;
  }
  
  .wppgpc-card-area-style1 .wppgpc-card .wppgpc-contentbx .wppgpc-button-box .wppgpc-addtocard-btn {
    padding-left: 2px;
    display: block;
  }
  
  .wppgpc-card-area-style1 .wppgpc-card .wppgpc-contentbx .wppgpc-button-box .wppgpc-addtocard-btn a {
    display: inline-block;
    padding: 10px 16px;
    font-size: 16px;
    background: #fff;
    border-radius: 4px;
    font-weight: 600;
    color: #111;
    opacity: 0;
    text-decoration: none;
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
    -webkit-transition: .3s;
    transition: .3s;
  }
  
  @media (min-width: 768px) and (max-width: 991px) {
    .wppgpc-card-area-style1 .wppgpc-card .wppgpc-contentbx .wppgpc-button-box .wppgpc-addtocard-btn a {
      font-size: 12px;
      padding: 8px;
    }
  }
  
  @media (max-width: 767px) {
    .wppgpc-card-area-style1 .wppgpc-card .wppgpc-contentbx .wppgpc-button-box .wppgpc-addtocard-btn a {
      font-size: 12px;
      padding: 8px;
    }
  }
  
  .wppgpc-card-area-style1 .wppgpc-card .wppgpc-contentbx .wppgpc-button-box .wppgpc-addtocard-btn a:hover {
    background: #D6D57F;
    color: #000;
  }
  
  .wppgpc-card-area-style2 .wppgpc-card {
    -webkit-box-shadow: 0 0 5px 0 #4444444d;
            box-shadow: 0 0 5px 0 #4444444d;
    border-radius: 20px;
    padding-top: 40px;
    overflow: hidden;
    width: 100%;
    background: #fff;
    color: gray;
    border-radius: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
  }
  
  .wppgpc-card-area-style2 .wppgpc-card:hover .wppgpc-imgbx {
    -webkit-transform: translate(-10%, -40%) rotate(-20deg);
            transform: translate(-10%, -40%) rotate(-20deg);
  }
  
  .wppgpc-card-area-style2 .wppgpc-card:hover .wppgpc-card-icon {
    left: 20px;
  }
  
  .wppgpc-card-area-style2 .wppgpc-card .wppgpc-imgbx {
    position: relative;
    width: 100%;
    padding: 0 30px;
    -webkit-filter: drop-shadow(5px 10px 15px rgba(8, 9, 13, 0.4));
            filter: drop-shadow(5px 10px 15px rgba(8, 9, 13, 0.4));
    -webkit-transition: .5s;
    transition: .5s;
  }
  .wppgpc-card-area-style2 .wppgpc-card .wppgpc-imgbx2 {
    display: none;
  }
  .wppgpc-card-area-style2 .wppgpc-card .wppgpc-imgbx img {
    margin-top: 50px;
  }
  
  @media (min-width: 768px) and (max-width: 991px) {
    .wppgpc-card-area-style2 .wppgpc-card .wppgpc-imgbx img {
      margin-top: 0;
    }
  }
  
  @media (max-width: 767px) {
    .wppgpc-card-area-style2 .wppgpc-card .wppgpc-imgbx img {
      margin-top: 0;
    }
  }
  
  .wppgpc-card-area-style2 .wppgpc-card .wppgpc-card-icon {
    position: absolute;
    top: 20px;
    left: -100px;
    -webkit-transition: .5s;
    transition: .5s;
    z-index: 9;
  }
  
  .wppgpc-card-area-style2 .wppgpc-card .wppgpc-card-icon a {
    color: #fff;
    font-size: 20px;
    height: 40px;
    width: 40px;
    background: #fbba42;
    line-height: 40px;
    border-radius: 6px;
    display: inline-block;
    text-align: center;
    -webkit-transition: .5s;
    transition: .5s;
  }
  
  .wppgpc-card-area-style2 .wppgpc-card .wppgpc-card-icon a:hover {
    color: #fff;
    background: gray;
  }
  
  .wppgpc-card-area-style2 .wppgpc-card .wppgpc-contentbx {
    position: relative;
    bottom: 0;
    width: 100%;
    text-align: start;
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  
  .wppgpc-card-area-style2 .wppgpc-card .wppgpc-contentbx .wppgpc-card-heading {
    font-size: 30px;
    -webkit-transition: .5s;
    transition: .5s;
  }
  
  .wppgpc-card-area-style2 .wppgpc-card .wppgpc-contentbx .wppgpc-card-heading a {
    color: #E1900D;
  }
  
  .wppgpc-card-area-style2 .wppgpc-card .wppgpc-contentbx .wppgpc-card-decs {
    font-size: 14px;
    color: #444;
    text-align: start;
    -webkit-transition: .5s;
    transition: .5s;
  }
  .wppgpc-card-area-style2 .wppgpc-card .wppgpc-contentbx .wppgpc-button-box {
      margin-top: auto;
  }
  @media (min-width: 768px) and (max-width: 991px) {
    .wppgpc-card-area-style2 .wppgpc-card .wppgpc-contentbx .wppgpc-card-decs {
      font-size: 12px;
    }
  }
  
  .wppgpc-card-area-style2 .wppgpc-card .wppgpc-contentbx .wppgpc-price-rating {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: .5s;
    transition: .5s;
  }
  
  .wppgpc-card-area-style2 .wppgpc-card .wppgpc-contentbx .wppgpc-price-rating .wppgpc-price-box .wppgpc-old-price {
    display: inline-block;
    font-size: 18px;
    padding: 0 4px 0 0;
    text-decoration: line-through;
    color: #444;
  }
  
  @media (min-width: 768px) and (max-width: 991px) {
    .wppgpc-card-area-style2 .wppgpc-card .wppgpc-contentbx .wppgpc-price-rating .wppgpc-price-box .wppgpc-old-price {
      font-size: 12px;
    }
  }
  
  @media (max-width: 767px) {
    .wppgpc-card-area-style2 .wppgpc-card .wppgpc-contentbx .wppgpc-price-rating .wppgpc-price-box .wppgpc-old-price {
      font-size: 12px;
    }
  }
  
  .wppgpc-card-area-style2 .wppgpc-card .wppgpc-contentbx .wppgpc-price-rating .wppgpc-price-box .wppgpc-dis-price {
    font-weight: 600;
    display: inline-block;
    font-size: 26px;
    color: #444;
  }
  
  @media (min-width: 768px) and (max-width: 991px) {
    .wppgpc-card-area-style2 .wppgpc-card .wppgpc-contentbx .wppgpc-price-rating .wppgpc-price-box .wppgpc-dis-price {
      font-size: 18px;
    }
  }
  
  @media (max-width: 767px) {
    .wppgpc-card-area-style2 .wppgpc-card .wppgpc-contentbx .wppgpc-price-rating .wppgpc-price-box .wppgpc-dis-price {
      font-size: 18px;
    }
  }
  
  .wppgpc-card-area-style2 .wppgpc-card .wppgpc-contentbx .wppgpc-price-rating .wppgpc-rating-box {
    color: #444;
    font-size: 18px;
  }
  
  @media (min-width: 768px) and (max-width: 991px) {
    .wppgpc-card-area-style2 .wppgpc-card .wppgpc-contentbx .wppgpc-price-rating .wppgpc-rating-box {
      font-size: 12px;
    }
  }
  
  @media (max-width: 767px) {
    .wppgpc-card-area-style2 .wppgpc-card .wppgpc-contentbx .wppgpc-price-rating .wppgpc-rating-box {
      font-size: 12px;
    }
  }
  
  .wppgpc-card-area-style2 .wppgpc-card .wppgpc-contentbx .wppgpc-category-tag {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: .5s;
    transition: .5s;
  }
  
  .wppgpc-card-area-style2 .wppgpc-card .wppgpc-contentbx .wppgpc-category-tag .wppgpc-pro-cate {
    font-size: 16px;
    color: #444;
  }
  
  .wppgpc-card-area-style2 .wppgpc-card .wppgpc-contentbx .wppgpc-category-tag .wppgpc-pro-tag {
    font-size: 16px;
    color: #444;
  }
  
  .wppgpc-card-area-style2 .wppgpc-card .wppgpc-contentbx .wppgpc-totalsale-pubdate {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 4px 20px;
    -webkit-transition: .5s;
    transition: .5s;
  }
  
  .wppgpc-card-area-style2 .wppgpc-card .wppgpc-contentbx .wppgpc-totalsale-pubdate .wppgpc-total-sale {
    font-size: 16px;
    color: #444;
  }
  
  .wppgpc-card-area-style2 .wppgpc-card .wppgpc-contentbx .wppgpc-totalsale-pubdate .wppgpc-total-sale span {
    font-size: 18px;
  }
  
  .wppgpc-card-area-style2 .wppgpc-card .wppgpc-contentbx .wppgpc-totalsale-pubdate .wppgpc-pub-date {
    font-size: 16px;
    color: #444;
  }
  
  .wppgpc-card-area-style2 .wppgpc-card .wppgpc-contentbx .wppgpc-button-box .wppgpc-card-button a {
    background: #E1900D;
    border-radius: 8px;
    display: block;
    color: #fff;
    text-align: center;
    -webkit-transition: .5s;
    transition: .5s;
    padding: 8px 0;
  }
  
  .wppgpc-card-area-style2 .wppgpc-card .wppgpc-contentbx .wppgpc-button-box .wppgpc-card-button a:hover {
    background: gray;
    color: #fff;
  }
  
  .wppgpc-card-area-style2 .wppgpc-card .wppgpc-contentbx .wppgpc-button-box .wppgpc-product-type {
    font-size: 14px;
    color: #444;
  }
  
  /*# sourceMappingURL=style.css.map */
  
  
    /* Ferdaussk start */
    .wppgpc-star-rating.text-center {
      cursor: pointer;
      color: #f1b409;
    }
    .wppgpc-rating-box {
      display: flex;
      flex-wrap: wrap;
    }
    .star-rating.text-center {
      cursor: pointer;
    }
    .wppgpc_wooc_not_acivate_notice {
      font-size: 25px;
      font-weight: 600;
      font-family: sans-serif;
      color: red;
      text-align: center;
      align-items: center;
      cursor: pointer;
    }
    
    .wppgpc-pro-cate a{
      color: white;
      /* text-shadow: 1px 1px 2px black; */
    }
    /* Ferdaussk end */
    
    /* For Star rating */
    
    .star-rating .star-full:before {
      content: "\f155";
    }
    
    .star-rating .star-half:before {
      content: "\f459";
    }
    
    .star-rating .star-empty:before {
      content: "\f154";
    }
    
    .star-rating .star {
      color: #ffc600;
      display: inline-block;
      font-family: dashicons;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      height: 20px;
      line-height: 1;
      text-align: center;
      text-decoration: inherit;
      vertical-align: top;
      width: 20px;
    }
    /* For Star rating */
    
    .wppgpc-img_text {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: center;
      justify-content: center;
      position: relative;
      /* z-index: 9; */
      -webkit-transition: .5s;
      transition: .5s;
      height: 200px;
      font-size: 25px;
      color: red;
      text-shadow: 0px 2px 0px black;
    }
    .wppgpc-card-area-style1 .wppgpc-img_text {
      z-index: 9;
    }
    .wppgpc-pro-cate a, .wppgpc-pro-tag a{
      color: white;
      text-shadow: 2px 2px 2px 2px black;
    }
    .wppgpc-pro-cate:hover a, .wppgpc-pro-tag:hover a{
      color: white;
      text-shadow: 2px 2px 2px 2px black;
    }
      /* Ferdaussk */
    
      /*  */
      .wppgpc-grid-column1 .column_number {
        flex: 0 0 auto;
        width: 100%;
        max-width: 100%;
      }
      .wppgpc-grid-column2 .column_number {
        flex: 0 0 auto;
        width: 50%;
        max-width: 50%;
      }
      .wppgpc-grid-column3 .column_number {
        flex: 0 0 auto;
        width: 33.33%;
        max-width: 33.33%;
      }
      .wppgpc-grid-column4 .column_number {
        flex: 0 0 auto;
        width: 25%;
        max-width: 25%;
      }
      .wppgpc-grid-column5 .column_number {
        flex: 0 0 auto;
        width: 20%;
        max-width: 20%;
      }
      .wppgpc-grid-column6 .column_number {
        flex: 0 0 auto;
        width: 16.66%;
        max-width: 16.66%;
      }
    
    @media (min-width: 2400px) {
      .wppgpc-grid-widescreen-column1 .column_number {
        flex: 0 0 auto;
        width: 100%;
        max-width: 100%;
      }
      .wppgpc-grid-widescreen-column2 .column_number {
        flex: 0 0 auto;
        width: 50%;
        max-width: 50%;
      }
      .wppgpc-grid-widescreen-column3 .column_number {
        flex: 0 0 auto;
        width: 33.33%;
        max-width: 33.33%;
      }
      .wppgpc-grid-widescreen-column4 .column_number {
        flex: 0 0 auto;
        width: 25%;
        max-width: 25%;
      }
      .wppgpc-grid-widescreen-column5 .column_number {
        flex: 0 0 auto;
        width: 20%;
        max-width: 20%;
      }
      .wppgpc-grid-widescreen-column6 .column_number {
        flex: 0 0 auto;
        width: 16.66%;
        max-width: 16.66%;
      }
    }
    @media (max-width: 1366px) {
      .wppgpc-grid-laptop-column1 .column_number {
        flex: 0 0 auto;
        width: 100%;
        max-width: 100%;
      }
      .wppgpc-grid-laptop-column2 .column_number {
        flex: 0 0 auto;
        width: 50%;
        max-width: 50%;
      }
      .wppgpc-grid-laptop-column3 .column_number {
        flex: 0 0 auto;
        width: 33.33%;
        max-width: 33.33%;
      }
      .wppgpc-grid-laptop-column4 .column_number {
        flex: 0 0 auto;
        width: 25%;
        max-width: 25%;
      }
      .wppgpc-grid-laptop-column5 .column_number {
        flex: 0 0 auto;
        width: 20%;
        max-width: 20%;
      }
      .wppgpc-grid-laptop-column6 .column_number {
        flex: 0 0 auto;
        width: 16.66%;
        max-width: 16.66%;
      }
    }
    @media (max-width: 1200px) {
      .wppgpc-grid-tablet_extra-column1 .column_number {
        flex: 0 0 auto;
        width: 100%;
        max-width: 100%;
      }
      .wppgpc-grid-tablet_extra-column2 .column_number {
        flex: 0 0 auto;
        width: 50%;
        max-width: 50%;
      }
      .wppgpc-grid-tablet_extra-column3 .column_number {
        flex: 0 0 auto;
        width: 33.33%;
        max-width: 33.33%;
      }
      .wppgpc-grid-tablet_extra-column4 .column_number {
        flex: 0 0 auto;
        width: 25%;
        max-width: 25%;
      }
      .wppgpc-grid-tablet_extra-column5 .column_number {
        flex: 0 0 auto;
        width: 20%;
        max-width: 20%;
      }
      .wppgpc-grid-tablet_extra-column6 .column_number {
        flex: 0 0 auto;
        width: 16.66%;
        max-width: 16.66%;
      }
    }
    @media (max-width: 1024px) {
      .wppgpc-grid-tablet-column1 .column_number {
        flex: 0 0 auto;
        width: 100%;
        max-width: 100%;
      }
      .wppgpc-grid-tablet-column2 .column_number {
        flex: 0 0 auto;
        width: 50%;
        max-width: 50%;
      }
      .wppgpc-grid-tablet-column3 .column_number {
        flex: 0 0 auto;
        width: 33.33%;
        max-width: 33.33%;
      }
      .wppgpc-grid-tablet-column4 .column_number {
        flex: 0 0 auto;
        width: 25%;
      }
      .wppgpc-grid-tablet-column5 .column_number {
        flex: 0 0 auto;
        width: 20%;
        max-width: 20%;
      }
      .wppgpc-grid-tablet-column6 .column_number {
        flex: 0 0 auto;
        width: 16.66%;
        max-width: 16.66%;
      }
    }
    @media (max-width: 880px) {
      .wppgpc-grid-mobile_extra-column1 .column_number {
        flex: 0 0 auto;
        width: 100%;
        max-width: 100%;
      }
      .wppgpc-grid-mobile_extra-column2 .column_number {
        flex: 0 0 auto;
        width: 50%;
        max-width: 50%;
      }
      .wppgpc-grid-mobile_extra-column3 .column_number {
        flex: 0 0 auto;
        width: 33.33%;
        max-width: 33.33%;
      }
      .wppgpc-grid-mobile_extra-column4 .column_number {
        flex: 0 0 auto;
        width: 25%;
        max-width: 25%;
      }
      .wppgpc-grid-mobile_extra-column5 .column_number {
        flex: 0 0 auto;
        width: 20%;
        max-width: 20%;
      }
      .wppgpc-grid-mobile_extra-column6 .column_number {
        flex: 0 0 auto;
        width: 16.66%;
        max-width: 16.66%;
      }
    }
    @media (max-width: 767px) {
      .wppgpc-grid-mobile-column1 .column_number {
        flex: 0 0 auto;
        width: 100%;
        max-width: 100%;
      }
      .wppgpc-grid-mobile-column2 .column_number {
        flex: 0 0 auto;
        width: 50%;
        max-width: 50%;
      }
      .wppgpc-grid-mobile-column3 .column_number {
        flex: 0 0 auto;
        width: 33.33%;
        max-width: 33.33%;
      }
      .wppgpc-grid-mobile-column4 .column_number {
        flex: 0 0 auto;
        width: 25%;
        max-width: 25%;
      }
      .wppgpc-grid-mobile-column5 .column_number {
        flex: 0 0 auto;
        width: 20%;
        max-width: 20%;
      }
      .wppgpc-grid-mobile-column6 .column_number {
        flex: 0 0 auto;
        width: 16.66%;
        max-width: 16.66%;
      }
    }
      /*  */
    
    /* Ferdaussk */
    .wppgpc_taxo_align_center{
      text-align: center !important;
    }
    .wppgpc_taxo_align_left{
      text-align: left !important;
    }
    .wppgpc_taxo_align_right{
      text-align: right !important;
    }
    .wppgpc_taxo_align_center_j{
      justify-content: center !important;
    }
    .wppgpc_taxo_align_left_j{
      justify-content: left !important;
    }
    .wppgpc_taxo_align_right_j{
      justify-content: right !important;
    }
    
    /* For star rating */
    .wppgpc-star-icons{
      color: goldenrod;
    }
  
    /* cat tag */
  .wppgpc-card-area-style15 .wppgpc-pro-cate a,  .wppgpc-card-area-style15 .wppgpc-pro-tag a{
    color: #ddddddd4;
  }
  .wppgpc-card-area-style21 .wppgpc-pro-cate a,  .wppgpc-card-area-style21 .wppgpc-pro-tag a, 
  .wppgpc-card-area-style20 .wppgpc-pro-cate a,  .wppgpc-card-area-style20 .wppgpc-pro-tag a, 
  .wppgpc-card-area-style19 .wppgpc-pro-cate a,  .wppgpc-card-area-style19 .wppgpc-pro-tag a, 
  .wppgpc-card-area-style18 .wppgpc-pro-cate a,  .wppgpc-card-area-style18 .wppgpc-pro-tag a, 
  .wppgpc-card-area-style17 .wppgpc-pro-cate a,  .wppgpc-card-area-style17 .wppgpc-pro-tag a, 
  .wppgpc-card-area-style16 .wppgpc-pro-cate a,  .wppgpc-card-area-style16 .wppgpc-pro-tag a, 
  .wppgpc-card-area-style14 .wppgpc-pro-cate a,  .wppgpc-card-area-style14 .wppgpc-pro-tag a, 
  .wppgpc-card-area-style13 .wppgpc-pro-cate a,  .wppgpc-card-area-style13 .wppgpc-pro-tag a, 
  .wppgpc-card-area-style11 .wppgpc-pro-cate a,  .wppgpc-card-area-style11 .wppgpc-pro-tag a, 
  .wppgpc-card-area-style10 .wppgpc-pro-cate a,  .wppgpc-card-area-style10 .wppgpc-pro-tag a, 
  .wppgpc-card-area-style9 .wppgpc-pro-cate a,  .wppgpc-card-area-style9 .wppgpc-pro-tag a, 
  .wppgpc-card-area-style8 .wppgpc-pro-cate a,  .wppgpc-card-area-style8 .wppgpc-pro-tag a, 
  .wppgpc-card-area-style7 .wppgpc-pro-cate a,  .wppgpc-card-area-style7 .wppgpc-pro-tag a, 
  .wppgpc-card-area-style6 .wppgpc-pro-cate a,  .wppgpc-card-area-style6 .wppgpc-pro-tag a, 
  .wppgpc-card-area-style5 .wppgpc-pro-cate a,  .wppgpc-card-area-style5 .wppgpc-pro-tag a, 
  .wppgpc-card-area-style2 .wppgpc-pro-cate a,  .wppgpc-card-area-style2 .wppgpc-pro-tag a, 
  .wppgpc-card-area-style4 .wppgpc-pro-cate a,  .wppgpc-card-area-style4 .wppgpc-pro-tag a{
    font-size: 16px;
    color: #444;
  }
  .wppgpc-card-area-style3 .wppgpc-pro-cate a, .wppgpc-card-area-style3 .wppgpc-pro-tag a{
    font-size: 16px;
    color: #C6C6C6;
  }
  
  .wppgpc-star-rating.text-center {
    cursor: pointer;
  }
  
  /* Badge Style */
  
  .wppgpc-badge-style2 .wppgpc-sale-badge,
  .wppgpc-badge-style2 .wppgpc-featured-badge,
  .wppgpc-badge-style2 .wppgpc-stock-badge {
    border-radius: 50%;
    width: 50px;
    height: 50px;
  }
  .wppgpc-badge-style3 .wppgpc-sale-badge,
  .wppgpc-badge-style3 .wppgpc-featured-badge,
  .wppgpc-badge-style3 .wppgpc-stock-badge {
    padding: 5px 22px 5px 10px;
    clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
  }
  .wppgpc-badge-style3 .wppgpc-sale-badge,
  .wppgpc-badge-style3 .wppgpc-featured-badge,
  .wppgpc-badge-style3 .wppgpc-stock-badge {
    padding: 5px 10px 5px 22px;
    clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
  }
  .wppgpc-badge-style4 .wppgpc-sale-badge,
  .wppgpc-badge-style4 .wppgpc-stock-badge,
  .wppgpc-badge-style4 .wppgpc-featured-badge {
    padding: 5px 10px 14px;
    clip-path: polygon(
      0% 0%,
      100% 0%,
      100% 75%,
      75% 75%,
      75% 100%-
      50% 75%,
      0% 75%
    );
  }
  .wppgpc-badge-style4 .wppgpc-sale-badge,
  .wppgpc-badge-style4 .wppgpc-stock-badge,
  .wppgpc-badge-style4 .wppgpc-featured-badge {
    padding: 5px 10px 14px;
    clip-path: polygon(
      0% 0%,
      100% 0%,
      100% 75%,
      54% 75%,
      26% 100%,
      30% 75%,
      0% 75%
    );
  }
  .wppgpc-badge-style5 .wppgpc-sale-badge,
  .wppgpc-badge-style5 .wppgpc-stock-badge,
  .wppgpc-badge-style5 .wppgpc-featured-badge {
    clip-path: polygon(
      0% 15%,
      15% 15%,
      15% 0%,
      85% 0%,
      85% 15%,
      100% 15%,
      100% 85%,
      85% 85%,
      85% 100%,
      15% 100%,
      15% 85%,
      0% 85%
    );
  }
  .wppgpc-badge-style5 .wppgpc-sale-badge,
  .wppgpc-badge-style5 .wppgpc-stock-badge
  .wppgpc-badge-style5 .wppgpc-featured-badge {
    padding: 7px 10px;
    clip-path: polygon(
      0% 15%,
      15% 15%,
      15% 0%,
      85% 0%,
      85% 15%,
      100% 15%,
      100% 85%,
      85% 85%,
      85% 100%,
      15% 100%,
      15% 85%,
      0% 85%
    );
  }
  .wppgpc-badge-style6 .wppgpc-sale-badge,
  .wppgpc-badge-style6 .wppgpc-stock-badge,
  .wppgpc-badge-style6 .wppgpc-featured-badge {
    padding: 10px;
    clip-path: polygon(50% 0%, 83% 12%, 100% 43%, 94% 78%, 68% 100%, 32% 100%, 6% 78%, 0% 43%, 17% 12%);
  }
  .wppgpc-badge-style7 .wppgpc-sale-badge,
  .wppgpc-badge-style7 .wppgpc-stock-badge,
  .wppgpc-badge-style7 .wppgpc-featured-badge {
    padding: 10px;
    clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
  }
  .wppgpc-badge-style8 .wppgpc-sale-badge,
  .wppgpc-badge-style8 .wppgpc-stock-badge,
  .wppgpc-badge-style8 .wppgpc-featured-badge {
    padding: 10px;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  }
  
  /* Badge Position */
  .wppgpc-sale-badge,
  .wppgpc-stock-badge,
  .wppgpc-featured-badge,
  .wppgpc-stock-count {
    background-color: #4CAF50;
    color: #ffffff;
    padding: 5px 10px;
    width: max-content;
    font-size: 14px;
    line-height: 1;
    text-align: center;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 999;
  }
  p.wppgpc-sale-badge,
  p.wppgpc-stock-badge,
  p.wppgpc-featured-badge,
  p.wppgpc-stock-count {
    margin: 0;
  }
  .wppgpc-stock-count,
  .wppgpc-stock-badge {
      display: flex;
      position: absolute;
      left: 50%;
      top: 5px;
      transform: translateX(-50%);
  }